---
layout: basic-page.njk
ogTitle: Buildit Stories
title: Stories
schema: StoriesPage
collection: colMainNav
colMainNav-index: 0
---
<h1>Stories</h1>
<p>
  Welcome to our new Buildit website featuring stories by and about our technical people and teams.
  News from our community, and an easy way to search the entire range of relevant job opportunities we have open.
</p>
<ul>
{% for story in colStories %}
  <li>
    <a href="/{{ story.path | replace("index.html", "") }}">{{ story.title }}</a>
    <p>{{ story.description }}</p>
  </li>
{% endfor %}
</ul>
