.ui.inverted.vertical.footer.segment.index-footer-emergency-override
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        .ui.inverted.link.list
          //- This (and the others) should probably be a ul rather than a div
          a.item(href='index.html') Home
          a.item(href='about.html') Approach
          a.item(href='careers.html') Careers
      .three.wide.column
        .ui.inverted.link.list
          a.item(href='http://www.wiprodigital.com')
            strong wipro
            | digital
          a.item(href='http://www.wipro.com') Wipro
          a.item(href='http://www.designit.com') Designit
      .three.wide.column
        .ui.inverted.link.list
          a.item(href='contact.html#london') London
          a.item(href='contact.html#dublin') Dublin
          a.item(href='contact.html#edinburgh') Edinburgh
      .three.wide.column
        .ui.inverted.link.list
          a.item(href='contact.html#newyork') New York
          a.item(href='contact.html#denver') Denver
          a.item(href='contact.html#bangalore') Bangalore
