.ui.large.top.fixed.hidden.menu
  .ui.container#mobile_nav
    a.item.black#home_mobile(href='index.html') Buildit
    a.item#about('about.html') About
    a.item#people('people.html') People
    a.item#find-us('contact.html') Find us

    .right.menu
      .item
        a.ui.primary.button#github(href='https://github.com/buildit') Github

.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.container
    .ui.large.secondary.pointing.inverted.menu
      a.item.image#home_desktop(href='index.html') Buildit
      .right.item
        a.item('about.html') About
        a.item.last('people.html') People
        a.ui.inverted.basic.grey.button('contact.html') Find us
