- var menuItems = { 'Approach': '/about.html', 'Careers': '/careers.html', 'Find us': '/contact.html' };

span.navigation-spacer

.ui.secondary.pointing.menu.inverted.segment.fixed.navigation.hidden
  a.item.navigation__logo Home
  .right.menu
    a.toc.item
      i.sidebar.icon
    each link, title in menuItems
      if currentPage === title
        a.item.active(href=link)= title
      else
        a.item(href=link)= title
