// custom rules applied to gravity ui scss
header[role=banner] {
  .medium-logo {
    width: 1.3rem;
    min-width: 1.3rem;
    height: 1.3rem;
    min-height: 1.3rem;
  }

  .grav-c-nav-menu__external-link {
    .grav-c-block-link {
      border-color: transparent;
    }
  }

  .grav-c-block-link {
    display: flex;
    align-items: center;
  }
}
