$color-grey-mercury: rgb(233, 233, 233);
$color-grey-alto: rgb(211, 211, 211);
$color-grey-iron: rgb(229, 229, 229);

// Medium Monogram colours
$medium-monogram-white: #FFFFFF;
$medium-monogram-black: #12100E;
