.flourish-top {
  min-width: 500px;
  
  &__polygon-shape-4 {
    width: 500px;
    height: 150px;
    top: -45%;
    right: 0;
    .shape {
      fill: url('#polygon-shape-4-gradient');
    }
    .stop-1 {
      stop-color: $color-grey-mercury;
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  
  &__hatching-pattern-3 {
    width: 1000px;
    height: 100px;
    top: -5%;
    right: -30%;
    .shape {
      fill: url('#hatching-pattern-3-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
}

.flourish-top-2 {
  min-width: 500px;

  &__hatching-pattern-2 {
    width: 1200px;
    right: -40%;
    top: 10%;

    svg {
      transform: rotate(180deg);
    }

    .shape {
      fill: url('#hatching-pattern-2-gradient');
    }
    
    .stop-2 {
      stop-opacity: 0;
    }
  }

  
  &__polygon-shape-4 {
    top: -35%;
    width: 730px;
    right: -30%;

    svg {
      transform: rotate(-10deg) scaleX(-1);
    }
    
    .shape {
      fill: url('#polygon-shape-4-gradient');
    }
    
    .stop-1 {
      stop-opacity: 0;
    }
    
    .stop-2 {
      stop-color: $color-grey-mercury;
      stop-opacity: 0.5;
    }
  }
}
