.flourish-group-a {
  min-width: 500px;
  &__polygon-shape-4 {
    width: 500px;
    height: 150px;
    top: -45%;
    right: 0;
    .shape {
      fill: url('#polygon-shape-4-gradient');
    }
    .stop-1 {
      stop-color: $color-grey-mercury;
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__hatching-pattern-3 {
    width: 1000px;
    height: 100px;
    top: -5%;
    right: -30%;
    .shape {
      fill: url('#hatching-pattern-3-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
}

.flourish-group-b {
  min-width: 500px;
  &__polygon-shape-4 {
    width: 500px;
    height: 150px;
    bottom: -20%;
    left: -15%;
    fill: $color-grey-alto;
    opacity: 0.2;
    .shape {
      fill: url('#hatching-pattern-2-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__hatching-pattern-2 {
    width: 1000px;
    height: 130px;
    bottom: -3%;
    left: -40%;
    .shape {
      fill: url('#hatching-pattern-2-gradient');
    }
    .stop-1 {
      stop-opacity: 0.1;
    }
  }
  &__polygon-shape-3 {
    width: 1000px;
    height: 120px;
    bottom: -8%;
    left: -25%;
    .shape {
      fill: url('#polygon-shape-3-gradient');
    }
    .stop-1 {
      stop-color: $color-grey-iron;
      stop-opacity: 0;
    }
  }
}

.flourish-group-c {
  min-width: 500px;
  &__hatching-pattern-2 {
    width: 800px;
    right: -20%;
    top: 10%;
    svg {
      transform: rotate(180deg);
    }
    .shape {
      fill: url('#hatching-pattern-2-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__polygon-shape-4 {
    top: -35%;
    width: 550px;
    right: -20%;
    svg {
      transform: rotate(-10deg) scaleX(-1);
    }
    .shape {
      fill: url('#polygon-shape-4-gradient');
    }
    .stop-1 {
      stop-opacity: 0;
    }
    .stop-2 {
      stop-color: $color-grey-mercury;
      stop-opacity: 0.5;
    }
  }
}

.flourish-group-d {
  min-width: 500px;
  &__hatching-pattern-3 {
    width: 1300px;
    bottom: -30%;
    left: 30%;
    .shape {
      fill: url('#hatching-pattern-3-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__polygon-shape-3a {
    width: 690px;
    width: 1500px;
    bottom: -55%;
    opacity: 0.5;
    svg {
      transform: rotate(174deg);
    }
    .shape {
      fill: url('#polygon-shape-3-gradient');
    }
    .stop-1 {
      stop-color: $color-grey-mercury;
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__polygon-shape-3b {
    width: 700px;
    bottom: -8%;
    left: 35%;
    opacity: .5;
    .shape {
      fill: url('#polygon-shape-3-gradient');
    }
  }
}

.flourish-group-e {
  min-width: 500px;
  &__polygon-shape-4 {
    width: 690px;
    bottom: -20%;
    left: 5%;
    svg {
      transform: rotate(0deg);
    }
    .shape {
      fill: url('#polygon-shape-4-gradient');
    }
    .stop-1 {
      stop-color: $color-grey-mercury;
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
  &__hatching-pattern-3 {
    width: 1300px;
    bottom: -10%;
    left: -20%;
    svg {
      transform: rotate(180deg);
    }
    .shape {
      fill: url('#hatching-pattern-3-gradient');
    }
    .stop-2 {
      stop-opacity: 0;
    }
  }
}
