$color-grey-mercury: rgb(233, 233, 233);
$color-grey-alto: rgb(211, 211, 211);
$color-grey-iron: rgb(229, 229, 229);


// $color-grey-mercury:#241c1c;
// $color-grey-alto:#241c1c;
// $color-grey-iron:#241c1c;





body {
  overflow-x: hidden;
}

.js-reveal-element {
  visibility: hidden;
}

.has-flourish-top {
  margin-top: -150px;
}

.has-flourish-tail {
  margin-bottom: -100px;
}

footer {
  margin-top: 0!important;
}

main {
  padding-bottom: 100px;
}

.flourish-wrap {
  margin: 0;
  overflow: hidden;
}

.flourish {
  width: 100%;
  max-width: 1200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  z-index: -1;
 
  >div {
    position: absolute;
    margin: 0;
    z-index: -1;
  }
 
  .stop-1,
  .stop-2 {
    stop-color: $color-grey-alto;
  }
}