.flourish-wrap {
  margin: 0;

  + main {
    margin-top: -200px;
    margin-bottom: -100px;
  }
}

.flourish {
  width: 100%;
  max-width: 1200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  z-index: -1;

  >div {
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  .stop-1,
  .stop-2 {
    stop-color: $color-grey-alto;
  }

  &--flip {
    transform: rotate(180deg);
  }
}
