.flourish-pullquote-wrap {
  margin-top: 0;
}

.flourish-pullquote {
  height: auto;
  
  &__text {
    display: inline-block;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
  }
  
  &__hatching-pattern-1 {
    width: 1200px;
    top: 25%;
    
    .shape {
      fill: url('#hatching-pattern-1-gradient');
    }
  
    .stop-1 {
      stop-color: $color-grey-mercury;
    }
  
    .stop-2 {
      stop-opacity: 0;
    }
  }
  
  &__polygon-shape-1 {
    display: none;
    width: 691px;
    right: 0;
    
    .shape {
      fill: url('#polygon-shape-1-gradient');
    }
  
    .stop-1 {
      stop-opacity: 0;
    }
  
    .stop-2 {
      stop-opacity: 0.5;
      stop-color: $color-grey-mercury;
    }
  }
}

@media (min-width: 1200px) {

  .flourish-pullquote-wrap {
    padding: 25px 0 50px 0;
  }

  .flourish-pullquote {
    &__text {
      font-size: 30px;
      padding: 0 20%;
    }

    &__polygon-shape-1 {
      display: block;
    }
  }
}
