language: node_js
node_js:
  - lts/*
cache:
  directories:
    - node_modules

env:
  global:
    - PROD_TAG_REGEXP="^v([0-9]{1,3}\.){2}[0-9]{1,3}.*$" #Regexp for release (deploy to Prod) tags
    - secure: "yuOsuEAFh3xvvhiAa1qFqdDJ8UY0jnmFB2Vb5fa88yTlQO8FCV2VWH45vlOAZ1EhEeAo/8LFO1iEV/8ykMQICqTeS+dXUxrut8PpIAccgfRO0OnuebY2KKSADbBKsw+lsMPXuaFNxn0mv0vuHMulX0oPR8f/Zx0ZJGf2jo7NuhUPvJhZPIT8cT9VxAdgk7wMdJ6qGIOla5e8icM14JS9lLg+GegL3ks34OZRJW1ciWPAgz/Qp437ByTutHsaRu+/5GXbCLS0k+vSQOzgB6vpcnG4YAPmVXrcFl2LfM3Tqc7yaC/JjPCY44RXvf3SGlsUy/12pbOZ4YYZ5eCXMwN+605YAHYL2uLelYNmhhTy5pYmJwFeO0MaBzS8QSmilhA6GPd0pjQiV/vA9uF4Mj9eUTK6+Tnw67oAWjND5JKr7cbKzVzK74Y8ekFGJbRCRGR0JoOuT5tDQ49tuYBFGiUc+WeE2FcdkLL6TDF3FJHVQ2VjYm6o4oyK7DhOizS606A1XtwvWWElrsTWLWPldKJiQLvxdAmYbWHzQ0DC3LLsA5ZAp3ZpSBCZKyAivMGpWaHkg/Dl9Y3O96cHQVDZepF/lftGoR2lhxNEzhH0USotJpbPdaKyo+4f1uDm7shzCduBYIngd2eTb/NLjCf5CkLjcOuGr50l7xY6g2UCaDBBtQM=" #SLACK_NOTIFICATION_URL

install:
  - npm install

script:
  - if [ $TRAVIS_TAG =~ $PROD_TAG_REGEXP ]; npm run-script build -- --env production; fi
  - if [ $TRAVIS_BRANCH =~ 'master' && $TRAVIS_PULL_REQUEST == 'false' ]; npm run-script build -- --env staging; fi
  - if [ $TRAVIS_BRANCH =~ 'beta' ]; npm run-script build -- --env beta; fi
  - if [ $TRAVIS_PULL_REQUEST != 'false' ]; npm run-script build; fi

before_deploy:
  - pip install --user awscli

deploy:
  # deploy master to Staging
  - provider: script
    script:
      ~/.local/bin/aws s3 sync dist s3://${STAGING_BUCKET} --delete --region=${STAGING_BUCKET_REGION} --exclude "*" --include "*.html" --content-type "text/html; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${STAGING_BUCKET} --delete --region=${STAGING_BUCKET_REGION} --exclude "*" --include "*.css" --content-type "text/css; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${STAGING_BUCKET} --delete --region=${STAGING_BUCKET_REGION} --exclude "*" --include "*.js" --content-type "application/javascript; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${STAGING_BUCKET} --delete --region=${STAGING_BUCKET_REGION} --include "*" --exclude "*.js" --exclude "*.html" --exclude "*.css" &&
      ~/.local/bin/aws cloudfront create-invalidation --distribution-id ${STAGING_DISTRIBUTION_ID} --paths /*
    skip_cleanup: true
    on:
      branch: master

  # deploy tags matching rel-* or release-* to Production
  - provider: script
    script:
      ~/.local/bin/aws s3 sync dist s3://${PROD_BUCKET} --delete --region=${PROD_BUCKET_REGION} --exclude "*" --include "*.html" --content-type "text/html; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${PROD_BUCKET} --delete --region=${PROD_BUCKET_REGION} --exclude "*" --include "*.css" --content-type "text/css; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${PROD_BUCKET} --delete --region=${PROD_BUCKET_REGION} --exclude "*" --include "*.js" --content-type "application/javascript; charset=utf-8" &&
      ~/.local/bin/aws s3 sync dist s3://${PROD_BUCKET} --delete --region=${PROD_BUCKET_REGION} --include "*" --exclude "*.js" --exclude "*.html" --exclude "*.css" &&
      ~/.local/bin/aws cloudfront create-invalidation --distribution-id ${PROD_DISTRIBUTION_ID} --paths /*
    skip_cleanup: true
    on:
      tags: true
      condition: $TRAVIS_TAG =~ $PROD_TAG_REGEXP
  # deploy beta to Beta Website
  - provider: script
    script: ~/.local/bin/aws s3 sync dist s3://${BETA_BUCKET} --delete --region=${BETA_BUCKET_REGION} && ~/.local/bin/aws cloudfront create-invalidation --distribution-id ${BETA_DISTRIBUTION_ID} --paths /*
    skip_cleanup: true
    on:
      branch: beta
notifications:
  slack:
    rooms:
      - secure: lqpbNypYyLua0TCRYQvi8QXoVyTtUdohsvIERQA4NMt3gW2/8NHXNGDUAFfJq8fYTUY+cF9lzunYngeInsb/x54fQbNqAL6/V6NxVDaUyKAKJsBKfngeKAfiAkp7JPQlEoE9uRXmvalIBTTwcv26/uwgqeXimF9DTRpa56PYI6LZX6Y1+A8DEfUd5rXzT6NrehawsSUsSeZCo5Mla/umbKuAkEzqCuiXBdgcDOn9IoqMbRRq004fC0Gh8ysjf5Oap86bdWeRomufBz9Cf0ewXUD74EuRlTHj1Ykfpb0U95LsjMSyrsjxBmt9j2ElAt+vlBHKCZi40FNZIHaXYaolhsTWy9iwXs2txcFbfHBgvnJ/2sKFTaVU6hDQuWV7wga/Hd3JAvoyRiDBEzV2iokQBzmkv3xw+hdw/hUX0/BavMuiRVpgbMB4SRl5auCLBdJ6Of/bTX4RNOyeDWG944RmdO9xbiAJd8sMtf2sp239zxkZUzZ1sRTZs1TbsOtJRJ2TbFLpi4EWQTMQkc7UXWGdyLX0vX9sLfoYatNYchtcEuXBPsSmAwNE/nfv7B4WKTTCgSn5mmGqUadqpc0/t1Jk7P9ZLla9Y4JNj66U4sR1yuT25mcCbxaz3tr2VY7QUFQPt9CbMUUGTRRIK8sLRydoCSVs+KXgMvmZcLUhNlwsf/k=
    on_pull_requests: true
    on_success: change
after_success:
  - if [[ ${TRAVIS_TAG} =~ (${PROD_TAG_REGEXP}) ]]; then curl -X POST --data-urlencode "payload={\"text\": \"A successful deployment occurred with tag ${TRAVIS_TAG} for project ${TRAVIS_REPO_SLUG} \"}" ${SLACK_NOTIFICATION_URL}; fi
