<ul class="grav-c-list-img-cards">
  {{#each imgCards}}
  <li>
    <img src="{{this.image.src}}" alt="{{this.image.alt}}" class="grav-c-image__invertible" />
    <h3 class="grav-c-list-img-cards__title">{{this.title}}</h3>
    <p>{{{this.content}}}</p>
  </li>
  {{/each}}
</ul>
