<ul class="grav-c-list-image-links">
  {{#each imgLinksItems}}
  <li><a href="{{this.href}}" title="{{this.title}}">
        <img class="grav-c-logo-image" src="{{this.image.src}}" alt="{{this.image.alt}}"/>
    </a></li>
  {{/each}}
</ul>
