  <ul class="grav-c-list-inline-row">
  {{#each inlineRow}}
  <li><a href="{{this.href}}" title="{{this.title}}"{{#if site.googleAnalyticsTrackingId}} onclick="{{this.onclick}}"{{/if}}>{{{this.content}}}</a></li>
  {{/each}}
</ul>
