<ul>
    <li>
        <a href="#anchor-one" class="grav-c-cta">One</a>
    </li>
    <li>
        <a href="#anchor-two" class="grav-c-cta">Two</a>
    </li>
</ul>

<section>
    <h2 id="anchor-one">One</h2>
    <p>Lorem ipsum dolor sit amet, leo a pellentesque varius tincidunt volutpat, at sed vehicula, aut ac neque. Urna amet dictumst
        dolor, adipiscing sit in est. Fermentum id tortor mi luctus fringilla habitant, morbi urna consequat, mauris suspendisse
        eu, in donec hac at. Ultricies elit nullam, felis mattis ante ante tincidunt architecto, sem placerat erat feugiat
        sed blandit tellus. Eros pretium ipsum aliquam viverra neque eu, suspendisse massa, consectetur faucibus dolor aliquet
        nec lacinia. Sagittis condimentum, ac delectus, elit at tincidunt augue, etiam est a sodales ullamcorper mollis.
        Eget interdum velit, nibh consequat non, fusce laoreet ipsum sed, viverra luctus adipiscing arcu hymenaeos risus.
        Nec a, magna suspendisse donec aliquam, et euismod in suscipit, bibendum maecenas, mauris est sem nonummy tellus
        nisl. A quam orci amet orci, integer elementum a aliquet. Provident ac luctus ornare consectetuer amet, convallis
        accumsan adipiscing, arcu phasellus amet suspendisse morbi, in viverra, pede luctus eget et rutrum sodales.
    </p>
</section>
<section>
    <h2 id="anchor-two">Two</h2>
    <p>Lorem ipsum dolor sit amet, leo a pellentesque varius tincidunt volutpat, at sed vehicula, aut ac neque. Urna amet dictumst
        dolor, adipiscing sit in est. Fermentum id tortor mi luctus fringilla habitant, morbi urna consequat, mauris suspendisse
        eu, in donec hac at. Ultricies elit nullam, felis mattis ante ante tincidunt architecto, sem placerat erat feugiat
        sed blandit tellus. Eros pretium ipsum aliquam viverra neque eu, suspendisse massa, consectetur faucibus dolor aliquet
        nec lacinia. Sagittis condimentum, ac delectus, elit at tincidunt augue, etiam est a sodales ullamcorper mollis.
        Eget interdum velit, nibh consequat non, fusce laoreet ipsum sed, viverra luctus adipiscing arcu hymenaeos risus.
        Nec a, magna suspendisse donec aliquam, et euismod in suscipit, bibendum maecenas, mauris est sem nonummy tellus
        nisl. A quam orci amet orci, integer elementum a aliquet. Provident ac luctus ornare consectetuer amet, convallis
        accumsan adipiscing, arcu phasellus amet suspendisse morbi, in viverra, pede luctus eget et rutrum sodales.
    </p>
</section>