<footer role="contentinfo"{{#if footerModifierClass}} class="{{footerModifierClass}}"{{/if}}>
  <p>made with ❤️ 
    <a href="/">
      <title>Buildit Logo</title>      
      <svg role="img" class="grav-c-logo" aria-label="buildit @ wipro digital" width="300" height="33">
        <use xlink:href="#buildit-logotype"></use>
      </svg>
    </a>
  </p>
  <ul class="grav-c-list-horizontal">
    <li>
      <a href="https://www.instagram.com/buildit_tech">
        <title>Instagram Logo</title>      
        <svg role="img" class="grav-c-icon" aria-label="Instagram" width="32" height="32">
          <use xlink:href="#instagram-brand-icon"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/buildit_tech">
        <title>Twitter Logo</title>      
        <svg role="img" class="grav-c-icon" aria-label="Twitter" width="32" height="32">
          <use xlink:href="#twitter-brand-icon"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/buildit.">
        <title>LinkedIn Logo</title>      
        <svg role="img" class="grav-c-icon" aria-label="LinkedIn" width="32" height="32">
          <use xlink:href="#linkedin-brand-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
