<footer{{#if footerModifierClass}} class="{{footerModifierClass}}"{{/if}}>
  <p>made with ❤️ <br>
    <a href="/">
      <svg role="img" class="grav-c-logo" aria-label="buildit @ wipro digital" width="300" height="33">
        <title>Buildit Logo</title>
        <use xlink:href="#buildit-logotype"></use>
      </svg>
    </a>
  </p>
  <ul class="grav-c-list-horizontal">
    <li>
      <a href="https://www.instagram.com/buildit_tech">
        <svg role="img" class="grav-c-icon" aria-label="Instagram" width="32" height="32">
          <title>Instagram Logo</title>
          <use xlink:href="#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/buildit_tech">
        <svg role="img" class="grav-c-icon" aria-label="Twitter" width="32" height="32">
          <title>Twitter Logo</title>
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/buildit.">
        <svg role="img" class="grav-c-icon" aria-label="LinkedIn" width="32" height="32">
          <title>LinkedIn Logo</title>
          <use xlink:href="#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://github.com/buildit">
        <svg role="img" class="grav-c-icon" aria-label="Github" width="32" height="32">
          <title>Github Logo</title>
          <use xlink:href="#icon-github"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p>
    <a href="https://wiprodigital.com/privacy-policy">
      Privacy policy
    </a>
  </p>
</footer>
