<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  {{>head}}
</head>
<body>
  {{>page-header}}
  {{#if "flourish-top"}} {{#block "flourish-top"}}{{/block}} {{/if}}
  
  <main
    {{#if main-classnames}} class="{{main-classnames}}"{{/if}}>
      {{#block "main"}}
        {{!-- Fallback to render "contents" --}}
        {{{contents}}}
      {{/block}}
  </main>
  
  {{#if "flourish-tail"}} {{#block "flourish-tail"}}{{/block}} {{/if}}
  {{>page-footer}}

  {{!-- Gravity's inline SVG symbol definitions --}}
  {{>gravity-svg-symbols}}

  {{> scripts-footer }}
<!--
  {{build.description}}
  commit: {{build.commitShortHash}}
-->
</body>
</html>
