<header role="banner">
  <div>
    <div class="logo-main">
      <a href="/">
        <svg role="img" class="grav-c-logo" aria-label="buildit @ wipro digital" width="329" height="33">
          <use xlink:href="#buildit-logotype"></use>
        </svg>
      </a>
    </div>
    <button type="button" class="grav-c-toggle-menu" aria-pressed="false" aria-label="Do something">
      <span class="grav-c-toggle-menu__icon"></span>
    </button>
    <nav class="grav-c-nav-menu">
      <ul>
        <li>
          <a class="grav-c-block-link" href="/about/">About us</a>
        </li>
        <li>
          <a class="grav-c-block-link" href="/careers/">Careers</a>
        </li>
        <li>
          <a class="grav-c-block-link" href="/locations/">Locations</a>
        </li>
        <li class="grav-c-nav-menu__external-link">
          <a class="grav-c-block-link" href="https://medium.com/buildit">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
