<header role="banner" class="{{#if header-light}}is-light{{/if}}">
  <div>
    <div class="logo-main">
      <a href="/">
        <svg role="img" class="grav-c-logo" aria-label="buildit @ wipro digital" width="329" height="33">
          <use xlink:href="#buildit-logotype"></use>
        </svg>
      </a>
    </div>
    <button type="button" class="grav-c-toggle-menu" aria-pressed="false" aria-label="Do something">
      <span class="grav-c-toggle-menu__icon"></span>
    </button>
    <nav class="grav-c-nav-menu">
      <ul>
        <li>
          <a
            class="grav-c-block-link"
            {{#compare page-url "about"}}
            href="/about/"
            {{/compare}}
          >About us</a>
        </li>
        <li>
          <a
            class="grav-c-block-link"
            {{#compare page-url "careers"}}
            href="/careers/"
            {{/compare}}
          >Careers</a>
        </li>
        <li>
          <a
            class="grav-c-block-link"
            {{#compare page-url "locations"}}
            href="/locations/"
            {{/compare}}
          >Locations</a>
        </li>
        <li class="grav-c-nav-menu__external-link">
          <a
            class="grav-c-block-link"
            href="https://medium.com/buildit">
            <svg class="grav-c-icon medium-logo" width="45" height="45" viewBox="0 0 45 45"><path d="M5 40V5h35v35H5zm8.56-12.627c0 .555-.027.687-.318 1.03l-2.457 2.985v.396h6.974v-.396l-2.456-2.985c-.291-.343-.344-.502-.344-1.03V18.42l6.127 13.364h.714l5.256-13.364v10.644c0 .29 0 .342-.185.528l-1.848 1.796v.396h9.19v-.396l-1.822-1.796c-.184-.186-.21-.238-.21-.528V15.937c0-.291.026-.344.21-.528l1.823-1.797v-.396h-6.471l-4.622 11.542-5.203-11.542h-6.79v.396l2.14 2.64c.239.292.291.37.291.768v10.353z"></path></svg>
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
