<main class="grav-o-container">
  {# Render standard block partial #}
  {# temporary disable due to limitation of frontmatter renderer
  {% include 'partials/blocks/main.njk' %}
  #}
  {% include 'partials/locations/main.njk' %}
</main>
