---
layout: basic-page.njk
ogTitle: Buildit People
title: People
schema: CollectionPage
collection: colMainNav
nav-index: 1
---
<h1>People</h1>
<p>
  Welcome to our new Buildit website featuring stories by and about our technical people and teams.
  News from our community, and an easy way to search the entire range of relevant job opportunities we have open.
</p>
<ul class="grav-c-list-cards-basic" property="schema:mainEntity" typeof="schema:ItemList">
  {% for article in colPeople %}
    <li class="grav-c-card-basic" property="schema:itemListElement" typeof="schema:ListItem">
      <meta property="schema:position" content="{{ loop.index }}">
      <a href="/{{ article.path }}" property="schema:url">
        {% if article.image %}
          <img property="schema:image" src="{{ article.image.src }}" alt="{{ article.image.alt }}" />
          <svg role="img">
            <use xlink:href="#decoration-arrow-right"></use>
          </svg>
        {% endif %}
        <h3 property="schema:name">{{ article.title }}</h3>
      </a>
      <p property="schema:description">{{ article.description }}</p>
    </li>
  {% endfor %}
</ul>
