    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 560px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .ui.inverted.basic.grey.button {
      margin-left: 1.8em;
    }
    .masthead h1.ui.header {
      margin-top: 20%;
      margin-bottom: 0em;
      font-size: 3vw;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 4em 0em;
    }

    .ui.vertical.stripe h2, .ui.vertical.stripe h3 {
      font-size: 2.4rem;
    }

    .ui.vertical.stripe h4 {
      font-size: 2rem;
    }

    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }

    .ui.vertical.stripe p span {
      background-color: rgba(33,133,208,0.8);
      padding-left: 0.3em;
      padding-right: 0.3em;
      color: white;
    }

    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

  .letter {
  fill: #2185D0;
  stroke: #2185D0;
  stroke-width: 1;
  }
  .ui.secondary.menu .item > img:not(.ui) {
      margin: 0em;
      margin-left: -20px;
  }
  .ui.menu .item > img:not(.ui) {
  width: 8rem;
  }

  .ui.secondary.menu .item::before {
    -webkit-transition-property: transform opacity;
    -moz-transition-property: transform opacity;
    -o-transition-property: transform opacity;
    transition-property: transform opacity;
    -webkit-transition-duration: 240ms;
    -moz-transition-duration: 240ms;
    -o-transition-duration: 240ms;
    transition-duration: 240ms;
  }

  .ui.inverted.segment, .ui.primary.inverted.segment {
      background-image: url(../assets/images/simple.svg), url(../assets/images/bg.jpg);
      background-repeat: no-repeat, repeat-x;
      background-color: rgba(0,0,0,1);
      background-size: 100%;
  }
  .ui.inverted.segment.contact {
      background-image: url(../assets/images/shutterstock_221064886.jpg), url(../assets/images/Globe_export.png);
      background-color: rgba(0,0,0,1);
      background-size: cover;
  }
  .ui.secondary.inverted.pointing.menu {
      border-width: 0px;
      /* border-color: rgba(34, 36, 38, 0.15); */
  }


  .ui.vertical.fractal.segment {
    background-image: url(../assets/images/grid-buildit-01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10vw 20vh;
    padding-top: 6em;
  }
  .ui.vertical.make.segment p  {
    font-size: 90%
  }

  .ui.vertical.make.segment h4 {
    font-size: 120%
  }
  .ui.animated.basic.button {
    margin-top: 0.5em;
    display: grid;
  }

  .white {
    color: #fff !important;
  }

  .hidden.divider.values {
    margin: 0.4em;
  }

  .ui.inverted.center.aligned.segment.a2o .ui.image {
    width: 80%;
    margin: auto 10vw;
    margin-bottom: 6vh;
  }

  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }

  #mapson {
    position: relative;
    z-index: 1; /* The z-index should be higher than Google Maps */
    width: 300px;
    margin: 60px auto 0;
    padding: 10px;
    background: black;
    height: auto;
    opacity: .45; /* Set the opacity for a slightly transparent Google Form */
    color: white;
  }

  .segment.strive {
    background-image: url(../assets/images/grid-buildit-01.svg) !important;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0rem;
    border: 0px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 0px 0px 0px;
    border-bottom: 1px solid rgba(33,133,208,0.3);
    font-size: 2rem;
    font-style: italic;
  }

  .segment.strive h2 {
    font-size: 250%;
    color: rgba(33,133,208,1);
    margin-bottom: 0.5em;
  }


  .row.partners {
    background-image:url(../assets/images/partners.png);
    background-size: 40%;
    background-repeat: no-repeat;
    max-height:60vh;
    height:60vh;
    text-align: right;
  }

  .row.partners h2 {
    font-size:400%;
    padding-top: 18vh;
    padding-right: 4vw;
  }



  .row.careers {
    background-image:url(../assets/images/grid-left-buildit.svg);
    background-repeat:no-repeat
  }
    .row.careers > .column:first-child {
      margin-bottom: -77px;
    }

  .ui.quote.segment.where {
    height: 60vh;
  }

  .ui.inverted.center.aligned.segment.a2o {
    min-height: 50vh;
    padding-top: 5vh;
    margin: 0rem !important;
    border-radius: inherit;
    border: none;
  }


  .where > .ui[class*="internally celled"].grid > .row > .column:first-child,
  .where > .ui[class*="internally celled"].grid > .row > .column:nth-child(2) {
    background-size: cover;
    font-size: 140%;
    padding-top: 43vh;
  }

  #london > .ui[class*="internally celled"].grid > .row > .column:first-child {
    background-image:url(../assets/images/london1.jpg);
  }
  #london_wework > .ui[class*="internally celled"].grid > .row > .column:nth-child(2) {
    background-image:url(../assets/images/london2.jpg);
  }
  #newyork > .ui[class*="internally celled"].grid > .row > .column:first-child {
    background-image:url(../assets/images/newyork.jpg);
  }
  #denver > .ui[class*="internally celled"].grid > .row > .column:nth-child(2) {
    background-image:url(../assets/images/denver.jpg);
  }
  #dublin > .ui[class*="internally celled"].grid > .row > .column:first-child {
    background-image:url(../assets/images/dublin.jpg);
  }
  #edinburgh > .ui[class*="internally celled"].grid > .row > .column:nth-child(2) {
    background-image:url(../assets/images/edinburgh.jpg);
  }
  #bangalore > .ui[class*="internally celled"].grid > .row > .column:first-child {
    background-image:url(../assets/images/bangalore2.jpg);
  }

  .cities {
      text-align: initial;
      font-size: 1.5rem;
      min-height: 20vh;
      line-height: 2.5rem;
      margin-top: 2rem;
      font-family: Helvetica, sans-serif;
    }

    .cities a {
      color: white;
    }

    .ldn { background-color:rgba(0,0,0,0); width:30vw; }
    .nyc { background-color:rgba(0,0,0,0); width:30vw; }
    .den { background-color:rgba(0,0,0,0); width:30vw; }
    .dub { background-color:rgba(0,0,0,0); width:30vw; }
    .edi { background-color:rgba(0,0,0,0); width:30vw; }
    .ban { background-color:rgba(0,0,0,0); width:30vw; }


/* make */

  .ui.big.list > .item::before {
    content: "";
  }
  .ui.list .list > .item .description, .ui.list > .item .description {
    padding-top: 0.4em;
    line-height: 1.4em;
    padding-bottom: 0.6em;
  }

  .ui.big.list.toolbox {
    margin-top: 15vh;
  }

  .ui.inverted.segment.tools {
    margin-top: 2vh;
  }

  i.icon img {
    width: 18px;
  }

  .ui.vertical.stripe .horizontal.divider.howwemake {
    margin: 1.5em;
  }


/* Mobile Vertical Only */
@media only screen and (max-width: 320px) {

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: flex !important;
    margin: 0;
    padding: 0;
  }

  .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    font-size: x-small;
  }

  .ui.secondary.inverted.menu a.item {
    margin: 0;
    padding: 0;
  }

  .ui.secondary.inverted.menu a.image.item {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
  }

  .ui.secondary.menu .item > img:not(.ui) {
    margin: 0em;
    width: 20vw;
  }

  .ui.secondary.inverted.pointing.menu .right.item {
    float: right;
    margin-left: 20vw !important;
  }

  .ui.secondary.inverted.pointing.menu .right.item > .item {
    padding-left: 0.8em;
  }

  .ui.secondary.inverted.pointing.menu .active.item {
    display: none !important;
  }

  .ui.inverted.basic.grey.button {
    display: none !important;
  }

  .masthead.segment {
      min-height: 300px;
  }
  .masthead h1.ui.header {
      font-size: 9vw;
  }

  .ui.vertical.stripe h2 {
    font-size: 1.8rem;
  }

  .ui.vertical.stripe h3 {
    font-size: 1rem;
  }

  .ui.inverted.segment, .ui.primary.inverted.segment {
      background-size: 160%;
  }

  .ui.inverted.center.aligned.segment.a2o {
    display: none;
  }

  .ui.vertical.stripe.fractal.segment {
    border-bottom: 0px solid white;
  }

  .row.partners {
    background-size: 80%;
    background-position: left bottom;
    max-height: 33vh;
    height: 33vh;
  }

  .row.partners h2 {
    font-size: 240%;
    padding-top: 5vh;
  }

}

/* Mobile Horizontal Only */
@media only screen and (min-width: 321px) and (max-width: 375px) {

  #home {
    display: none;
  }

  .ui.menu:not(.vertical) .right.menu {
    display: none !important;
  }

  

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: flex !important;
    margin: 0;
    padding: 0;
  }

  .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    font-size: x-small;
  }

  .ui.secondary.inverted.menu a.item {
    margin: 0;
    padding: 0;
  }

  .ui.secondary.inverted.menu a.image.item {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
  }

  .ui.secondary.menu .item > img:not(.ui) {
    margin: 0em;
    width: 20vw;
  }

  .ui.secondary.inverted.pointing.menu .right.item {
    float: right;
    margin-left: 20vw !important;
  }

  .ui.secondary.inverted.pointing.menu .right.item > .item {
    padding-left: 0.8em;
  }

  .ui.secondary.inverted.pointing.menu .active.item {
    display: none !important;
  }

  .ui.inverted.basic.grey.button {
    display: none !important;
  }
  .masthead.segment {
      min-height: 300px;
  }
  .masthead h1.ui.header {
    font-size: 9vw;
  }

  .ui.vertical.stripe h3 {
    font-size: 18px;
  }

  .ui.inverted.segment, .ui.primary.inverted.segment {
    background-size: 160%;
  }
  .ui.inverted.center.aligned.segment.a2o {
    display: none;
  }

  .ui.vertical.stripe.fractal.segment {
    border-bottom: 0px solid white;
  }

  .row.partners {
    background-size: 80%;
    background-position: left bottom;
    height: 35vh;
    max-height: 35vh;
  }

  .row.partners h2 {
    font-size: 240%;
    padding-top: 8vh;
  }
}

/* Mobile Large Only */
@media only screen and (min-width: 376px) and (max-width: 428px) {

  #home {
    display: none;
  }

  .ui.menu:not(.vertical) .right.menu {
    display: none !important;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: flex !important;
    margin: 0;
    padding: 0;
  }

  .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    font-size: x-small;
  }

  .ui.secondary.inverted.menu a.item {
    margin: 0;
    padding: 0;
  }

  .ui.secondary.inverted.menu a.image.item {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
  }

  .ui.secondary.menu .item > img:not(.ui) {
    margin: 0em;
    width: 20vw;
  }

  .ui.secondary.inverted.pointing.menu .right.item {
    float: right;
    margin-left: 20vw !important;
  }

  .ui.secondary.inverted.pointing.menu .right.item > .item {
    padding-left: 0.8em;
  }

  .ui.secondary.inverted.pointing.menu .active.item {
    display: none !important;
  }

  .ui.inverted.basic.grey.button {
    display: none !important;
  }
  .masthead.segment {
      min-height: 300px;
  }
  .masthead h1.ui.header {
      font-size: 9vw;
  }
  .ui.inverted.segment, .ui.primary.inverted.segment {
      background-size: 160%;
  }
  .ui.inverted.center.aligned.segment.a2o {
    display: none;
  }

  .ui.vertical.stripe.fractal.segment {
    border-bottom: 0px solid white;
  }

  .row.partners {
    background-size: 80%;
    background-position: left bottom;
    max-height: 30vh;
    height: 30vh;
  }

  .row.partners h2 {
    font-size: 240%;
    padding-top: 3vh;
  }
}

/* Tablet Only */
@media only screen and (min-width: 429px) and (max-width: 767px) {


  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: flex !important;
    margin: 0;
    padding: 0;
  }
  .ui.inverted.basic.grey.button {
    display: none !important;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h1.ui.header {
    font-size: 8vw;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .cities {
      text-align: initial;
      font-size: 1.5rem;
      min-height: 20vh;
      line-height: 2.5rem;
      margin-top: 2rem;
      font-family: Helvetica, sans-serif;
    }
    .ldn { background-color:rgba(0,0,0,0); width:30vw; }
    .nyc { background-color:rgba(0,0,0,0); width:30vw; }
    .den { background-color:rgba(0,0,0,0); width:30vw; }
    .dub { background-color:rgba(0,0,0,0); width:30vw; }
    .edi { background-color:rgba(0,0,0,0); width:30vw; }
    .ban { background-color:rgba(0,0,0,0); width:30vw; }


    .ui.inverted.center.aligned.segment.a2o {
      display: none;
    }

    .ui.vertical.stripe.fractal.segment {
      border-bottom: 0px solid white;
    }

    .row.partners {
      background-size: 50%;
      background-position: left bottom;
      height: 30vh;
      max-height: 30vh;
    }

    .row.partners h2 {
      font-size: 280%;
      padding-top: 4vh;
    }
}

/* Tablet Large Only */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .masthead h1.ui.header {
      font-size: 8vw;
  }

  .ldn { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .nyc { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .den { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .dub { left: 2.5vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .edi { left: -2vw; background-color:rgba(0,0,0,0); width:18vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6;}
  .ban { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7;}

  .ldn:hover,.nyc:hover,.den:hover,.dub:hover,.edi:hover, .ban:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    width: 150%;
    transition: width 1s ease-in-out, opacity 0.1s ease-in-out;
    margin-left:-0.5vw;
    border-left: 0.5vw solid rgba(80,80,255,0.2);
    background-color: rgba(0,80,255,0.3);
  }
  .glitch {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }
  .glitch2 {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim {
      0% {
        clip: rect(68px, 9999px, 16px, 0);
      }
      5% {
        clip: rect(75px, 9999px, 94px, 0);
      }
      10% {
        clip: rect(65px, 9999px, 45px, 0);
      }
      15% {
        clip: rect(38px, 9999px, 45px, 0);
      }
      20% {
        clip: rect(78px, 9999px, 13px, 0);
      }
      25% {
        clip: rect(2px, 9999px, 100px, 0);
      }
      30% {
        clip: rect(38px, 9999px, 68px, 0);
      }
      35% {
        clip: rect(47px, 9999px, 88px, 0);
      }
      40% {
        clip: rect(2px, 9999px, 80px, 0);
      }
      45% {
        clip: rect(7px, 9999px, 18px, 0);
      }
      50% {
        clip: rect(64px, 9999px, 52px, 0);
      }
      55% {
        clip: rect(55px, 9999px, 45px, 0);
      }
      60% {
        clip: rect(30px, 9999px, 28px, 0);
      }
      65% {
        clip: rect(75px, 9999px, 98px, 0);
      }
      70% {
        clip: rect(22px, 9999px, 33px, 0);
      }
      75% {
        clip: rect(61px, 9999px, 72px, 0);
      }
      80% {
        clip: rect(77px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(82px, 9999px, 42px, 0);
      }
      90% {
        clip: rect(82px, 9999px, 20px, 0);
      }
      95% {
        clip: rect(33px, 9999px, 16px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 24px, 0);
      }
    }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.8);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.7);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(100px, 9999px, 70px, 0);
    }
    5% {
      clip: rect(9px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(67px, 9999px, 73px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 57px, 0);
    }
    25% {
      clip: rect(44px, 9999px, 63px, 0);
    }
    30% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    35% {
      clip: rect(62px, 9999px, 7px, 0);
    }
    40% {
      clip: rect(79px, 9999px, 39px, 0);
    }
    45% {
      clip: rect(21px, 9999px, 85px, 0);
    }
    50% {
      clip: rect(85px, 9999px, 94px, 0);
    }
    55% {
      clip: rect(100px, 9999px, 58px, 0);
    }
    60% {
      clip: rect(29px, 9999px, 68px, 0);
    }
    65% {
      clip: rect(20px, 9999px, 63px, 0);
    }
    70% {
      clip: rect(68px, 9999px, 18px, 0);
    }
    75% {
      clip: rect(40px, 9999px, 11px, 0);
    }
    80% {
      clip: rect(67px, 9999px, 62px, 0);
    }
    85% {
      clip: rect(76px, 9999px, 17px, 0);
    }
    90% {
      clip: rect(82px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(81px, 9999px, 29px, 0);
    }
    100% {
      clip: rect(44px, 9999px, 43px, 0);
    }
  }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

  .row.partners {
    background-size: 50%;
    background-position: left bottom;
    height: 36vh;
  }

  .row.partners h2 {
    font-size: 450%;
    padding-top: 5vh;
  }

}

/* Computer Only */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .masthead h1.ui.header {
      font-size: 7vw;
  }
  .row.partners {
    background-size: 50%;
    background-position: left bottom;
    height: 45vh;
  }

  .row.partners h2 {
    font-size: 400%;
    padding-top: 35vh;
  }

  .ldn { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .nyc { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .den { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .dub { left: 2.5vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .edi { left: -2vw; background-color:rgba(0,0,0,0); width:18vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6;}
  .ban { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7;}

  .ldn:hover,.nyc:hover,.den:hover,.dub:hover,.edi:hover, .ban:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    width: 150%;
    transition: width 1s ease-in-out, opacity 0.1s ease-in-out;
    margin-left:-0.5vw;
    border-left: 0.5vw solid rgba(80,80,255,0.2);
    background-color: rgba(0,80,255,0.3);
  }

  .glitch {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }
  .glitch2 {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim {
      0% {
        clip: rect(68px, 9999px, 16px, 0);
      }
      5% {
        clip: rect(75px, 9999px, 94px, 0);
      }
      10% {
        clip: rect(65px, 9999px, 45px, 0);
      }
      15% {
        clip: rect(38px, 9999px, 45px, 0);
      }
      20% {
        clip: rect(78px, 9999px, 13px, 0);
      }
      25% {
        clip: rect(2px, 9999px, 100px, 0);
      }
      30% {
        clip: rect(38px, 9999px, 68px, 0);
      }
      35% {
        clip: rect(47px, 9999px, 88px, 0);
      }
      40% {
        clip: rect(2px, 9999px, 80px, 0);
      }
      45% {
        clip: rect(7px, 9999px, 18px, 0);
      }
      50% {
        clip: rect(64px, 9999px, 52px, 0);
      }
      55% {
        clip: rect(55px, 9999px, 45px, 0);
      }
      60% {
        clip: rect(30px, 9999px, 28px, 0);
      }
      65% {
        clip: rect(75px, 9999px, 98px, 0);
      }
      70% {
        clip: rect(22px, 9999px, 33px, 0);
      }
      75% {
        clip: rect(61px, 9999px, 72px, 0);
      }
      80% {
        clip: rect(77px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(82px, 9999px, 42px, 0);
      }
      90% {
        clip: rect(82px, 9999px, 20px, 0);
      }
      95% {
        clip: rect(33px, 9999px, 16px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 24px, 0);
      }
    }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.8);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.7);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(100px, 9999px, 70px, 0);
    }
    5% {
      clip: rect(9px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(67px, 9999px, 73px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 57px, 0);
    }
    25% {
      clip: rect(44px, 9999px, 63px, 0);
    }
    30% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    35% {
      clip: rect(62px, 9999px, 7px, 0);
    }
    40% {
      clip: rect(79px, 9999px, 39px, 0);
    }
    45% {
      clip: rect(21px, 9999px, 85px, 0);
    }
    50% {
      clip: rect(85px, 9999px, 94px, 0);
    }
    55% {
      clip: rect(100px, 9999px, 58px, 0);
    }
    60% {
      clip: rect(29px, 9999px, 68px, 0);
    }
    65% {
      clip: rect(20px, 9999px, 63px, 0);
    }
    70% {
      clip: rect(68px, 9999px, 18px, 0);
    }
    75% {
      clip: rect(40px, 9999px, 11px, 0);
    }
    80% {
      clip: rect(67px, 9999px, 62px, 0);
    }
    85% {
      clip: rect(76px, 9999px, 17px, 0);
    }
    90% {
      clip: rect(82px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(81px, 9999px, 29px, 0);
    }
    100% {
      clip: rect(44px, 9999px, 43px, 0);
    }
  }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

}

/* Screen Large Only */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {

  .masthead h1.ui.header {
      font-size: 5vw;
  }

  .ldn { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .nyc { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .den { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .dub { left: 2.5vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .edi { left: -2vw; background-color:rgba(0,0,0,0); width:18vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6;}
  .ban { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7;}

  .ldn:hover,.nyc:hover,.den:hover,.dub:hover,.edi:hover, .ban:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    width: 150%;
    transition: width 1s ease-in-out, opacity 0.1s ease-in-out;
    margin-left:-0.5vw;
    border-left: 0.5vw solid rgba(80,80,255,0.2);
    background-color: rgba(0,80,255,0.3);
  }

  .glitch {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }
  .glitch2 {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim {
      0% {
        clip: rect(68px, 9999px, 16px, 0);
      }
      5% {
        clip: rect(75px, 9999px, 94px, 0);
      }
      10% {
        clip: rect(65px, 9999px, 45px, 0);
      }
      15% {
        clip: rect(38px, 9999px, 45px, 0);
      }
      20% {
        clip: rect(78px, 9999px, 13px, 0);
      }
      25% {
        clip: rect(2px, 9999px, 100px, 0);
      }
      30% {
        clip: rect(38px, 9999px, 68px, 0);
      }
      35% {
        clip: rect(47px, 9999px, 88px, 0);
      }
      40% {
        clip: rect(2px, 9999px, 80px, 0);
      }
      45% {
        clip: rect(7px, 9999px, 18px, 0);
      }
      50% {
        clip: rect(64px, 9999px, 52px, 0);
      }
      55% {
        clip: rect(55px, 9999px, 45px, 0);
      }
      60% {
        clip: rect(30px, 9999px, 28px, 0);
      }
      65% {
        clip: rect(75px, 9999px, 98px, 0);
      }
      70% {
        clip: rect(22px, 9999px, 33px, 0);
      }
      75% {
        clip: rect(61px, 9999px, 72px, 0);
      }
      80% {
        clip: rect(77px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(82px, 9999px, 42px, 0);
      }
      90% {
        clip: rect(82px, 9999px, 20px, 0);
      }
      95% {
        clip: rect(33px, 9999px, 16px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 24px, 0);
      }
    }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.8);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.7);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(100px, 9999px, 70px, 0);
    }
    5% {
      clip: rect(9px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(67px, 9999px, 73px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 57px, 0);
    }
    25% {
      clip: rect(44px, 9999px, 63px, 0);
    }
    30% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    35% {
      clip: rect(62px, 9999px, 7px, 0);
    }
    40% {
      clip: rect(79px, 9999px, 39px, 0);
    }
    45% {
      clip: rect(21px, 9999px, 85px, 0);
    }
    50% {
      clip: rect(85px, 9999px, 94px, 0);
    }
    55% {
      clip: rect(100px, 9999px, 58px, 0);
    }
    60% {
      clip: rect(29px, 9999px, 68px, 0);
    }
    65% {
      clip: rect(20px, 9999px, 63px, 0);
    }
    70% {
      clip: rect(68px, 9999px, 18px, 0);
    }
    75% {
      clip: rect(40px, 9999px, 11px, 0);
    }
    80% {
      clip: rect(67px, 9999px, 62px, 0);
    }
    85% {
      clip: rect(76px, 9999px, 17px, 0);
    }
    90% {
      clip: rect(82px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(81px, 9999px, 29px, 0);
    }
    100% {
      clip: rect(44px, 9999px, 43px, 0);
    }
  }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .row.partners {
    background-size: 40%;
    background-position: 5vw bottom;
    height: 70vh;
    max-height: 70vh;
  }

  .row.partners h2 {
    font-size: 400%;
    padding-top: 15vh;
  }
}

/* Widescreen Only */
@media only screen and (min-width: 1920px) {


  .row.partners {
    background-size: 30% !important;
    background-position: 20vw bottom;
  }

  .row.partners h2 {
    font-size: 600%;
    padding-top: 40vh;
    padding-right: 25vw;
  }

  .masthead h1.ui.header {
    font-size: 3vw;
  }

  .ldn { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .nyc { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .den { left: -2vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6}
  .dub { left: 2.5vw; background-color:rgba(0,0,0,0); width:14vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7}
  .edi { left: -2vw; background-color:rgba(0,0,0,0); width:18vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.6;}
  .ban { left: 2.5vw; background-color:rgba(0,0,0,0); width:16vw; -webkit-filter: blur(0.03em);filter: blur(0.03em); opacity:0.7;}

  .ldn:hover,.nyc:hover,.den:hover,.dub:hover,.edi:hover, .ban:hover {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
      width: 150%;
      transition: width 1s ease-in-out, opacity 0.1s ease-in-out;
      margin-left:-0.5vw;
      border-left: 0.5vw solid rgba(80,80,255,0.2);
      background-color: rgba(0,80,255,0.3);
    }

  .glitch {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }
  .glitch2 {
    color: rgba(255,255,255,1);
    position: relative;
    margin-top: 1.2rem;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim {
      0% {
        clip: rect(68px, 9999px, 16px, 0);
      }
      5% {
        clip: rect(75px, 9999px, 94px, 0);
      }
      10% {
        clip: rect(65px, 9999px, 45px, 0);
      }
      15% {
        clip: rect(38px, 9999px, 45px, 0);
      }
      20% {
        clip: rect(78px, 9999px, 13px, 0);
      }
      25% {
        clip: rect(2px, 9999px, 100px, 0);
      }
      30% {
        clip: rect(38px, 9999px, 68px, 0);
      }
      35% {
        clip: rect(47px, 9999px, 88px, 0);
      }
      40% {
        clip: rect(2px, 9999px, 80px, 0);
      }
      45% {
        clip: rect(7px, 9999px, 18px, 0);
      }
      50% {
        clip: rect(64px, 9999px, 52px, 0);
      }
      55% {
        clip: rect(55px, 9999px, 45px, 0);
      }
      60% {
        clip: rect(30px, 9999px, 28px, 0);
      }
      65% {
        clip: rect(75px, 9999px, 98px, 0);
      }
      70% {
        clip: rect(22px, 9999px, 33px, 0);
      }
      75% {
        clip: rect(61px, 9999px, 72px, 0);
      }
      80% {
        clip: rect(77px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(82px, 9999px, 42px, 0);
      }
      90% {
        clip: rect(82px, 9999px, 20px, 0);
      }
      95% {
        clip: rect(33px, 9999px, 16px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 24px, 0);
      }
    }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.8);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(255,0,0,0.7);
    top: 0;
    color: rgba(255,255,255,1);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 40vw, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(100px, 9999px, 70px, 0);
    }
    5% {
      clip: rect(9px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(67px, 9999px, 73px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 57px, 0);
    }
    25% {
      clip: rect(44px, 9999px, 63px, 0);
    }
    30% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    35% {
      clip: rect(62px, 9999px, 7px, 0);
    }
    40% {
      clip: rect(79px, 9999px, 39px, 0);
    }
    45% {
      clip: rect(21px, 9999px, 85px, 0);
    }
    50% {
      clip: rect(85px, 9999px, 94px, 0);
    }
    55% {
      clip: rect(100px, 9999px, 58px, 0);
    }
    60% {
      clip: rect(29px, 9999px, 68px, 0);
    }
    65% {
      clip: rect(20px, 9999px, 63px, 0);
    }
    70% {
      clip: rect(68px, 9999px, 18px, 0);
    }
    75% {
      clip: rect(40px, 9999px, 11px, 0);
    }
    80% {
      clip: rect(67px, 9999px, 62px, 0);
    }
    85% {
      clip: rect(76px, 9999px, 17px, 0);
    }
    90% {
      clip: rect(82px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(81px, 9999px, 29px, 0);
    }
    100% {
      clip: rect(44px, 9999px, 43px, 0);
    }
  }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }
  .glitch2:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0,0,255,0.8);
    top: 0;
    color: rgba(255,255,255,0.8);
    background: rgba(27,28,29,0.1);
    overflow: hidden;
    clip: rect(0, 20vw, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
    padding-left: 2.2rem;
  }


}




/* 42 was here and he has spoken */

/* http://codepen.io/Golmote/pen/icDuf */

@keyframes atom {
  from { transform: none; }
  to { transform: translateY(-10px); }
}
@keyframes electron-circle1 {
  from { transform: rotateY(70deg) rotateZ(20deg); }
  to { transform: rotateY(70deg) rotateZ(380deg); }
}
@keyframes electron1 {
  from { transform: rotateZ(-20deg) rotateY(-70deg); }
  to { transform: rotateZ(-380deg) rotateY(-70deg); }
}
@keyframes electron-circle2 {
  from { transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg); }
  to { transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg); }
}
@keyframes electron2 {
  from { transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg); }
  to { transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg); }
}
@keyframes electron-circle3 {
  from { transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg); }
  to { transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg); }
}
@keyframes electron3 {
  from { transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg); }
  to { transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg); }
}


.atom {
  margin: 50px auto;
  position: relative;
  animation: atom 1.5s ease-in-out infinite alternate;
  transform-style: preserve-3d;
}
.atom:before {
	content: '';
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #2185d0;
}
.atom .electron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #2185d0;
  transform-style: preserve-3d;
}
.atom .electron:before {
	content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #2185d0;
  transform-origin: 50% 50% 0;
}
.atom .electron:nth-child(1) {
  transform: rotateY(70deg) rotateZ(20deg);
  animation: electron-circle1 3s linear infinite;
}
.atom .electron:nth-child(2) {
  transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  animation: electron-circle2 3s linear infinite;
}
.atom .electron:nth-child(3) {
  transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  animation: electron-circle3 3s linear infinite;
}
.atom .electron:nth-child(1):before {
  transform: rotateZ(-20deg) rotateY(-70deg);
  animation: electron1 3s linear infinite;
}
.atom .electron:nth-child(2):before {
  transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  animation: electron2 3s linear infinite;
}
.atom .electron:nth-child(3):before {
  transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  animation: electron3 3s linear infinite;
}

*::-webkit-media-controls {
  display: none !important;
}