<main
  class="grav-o-container"
  typeof="schema:Place"
  resource="https://buildit.wiprodigital.com/thing/studio/{{ countryCode}}/{{ citySlug }}"
>
  {# Render standard block partial #}
  {% include 'partials/blocks/main.njk' %}
</main>
