{% if image and image.remote %}
  {% set imageSrc %}{{ image.src }}{% endset %}
{% else %}
  {% set imageSrc %}{{ env.url }}/{{ image.src or config.site.ogImage }}{% endset %}
{% endif %}
<article
  class="grid"
  typeof="schema:Place"
  resource="https://buildit.wiprodigital.com/thing/studio/{{ countryCode}}/{{ citySlug }}"
>
  <header class="grav-c-page-intro">
    <h1 property="schema:name">{{ title }} Studio</h1>
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    <link rel="schema:mainEntityOfPage" href="/{{ path }}">
  </header>

  <div>
    {% if image %}
      <div class="hero">
        <img src="{{ imageSrc }}" alt="{{ image.alt }}" />
      </div>
    {% endif %}
    {# Convoluted way of checking whether contents is blank
      - i.e. only whitespace #}
    {% if contents.length > 0 %}
    <div class="grav-c-ostentatious-copy">
        {{ contents | safe }}
    </div>
    <hr>
    {% endif %}
    <section class="grav-c-location-card">
      <h2>Address</h2>
      {% include 'partials/location/address.njk' %}
      <a href="{{ map }}" rel="schema:hasMap" title="See {{ title }} office on Google Maps - Opens in a new tab" target="_blank">
        <img src="{{ img.url }}" alt="{{ img.alt }}"><br>
        View map
      </a>
    </section>

    <h2>Jobs</h2>
    <section>
      {% if jobsByCity[title].length > 0 %}
      <p>Current job postings for buildit's {{ title }} studio:</p>
      <ul class="web-c-job-list">
        {% for job in jobsByCity[title] %}
          {% include 'partials/jobs/job-card.njk' %}
        {% endfor %}
      </ul>
      {% set jobLocation = jobsByCity[title][0].location %}
      <span hidden typeof="schema:Place" resource="{{jobLocation.uri}}">
        <span property="schema:address" typeof="schema:PostalAddress">
          <meta property="schema:addressLocality" content="{{jobLocation.city}}">
          <meta property="schema:addressCountry" content="{{jobLocation.countryCode}}">
        </span>
      </span>
      <p>For open positions in other buildit studios and locations, please visit our <a href="/jobs/">jobs page</a>.</p>
      {% else %}
      <p>Currently, there are no open job postings for buildit's {{ title }} studio. You can see open positions in other buildit studios and locations on our <a href="/jobs/">jobs page</a>.</p>
      {% endif %}
      <p>If you have any questions please reach out to us at: <a href="mailto:talent-buildit@wipro.com">talent-buildit@wipro.com</a>.</p>
    </section>
  </div>
</article>
