<section class="grav-o-container">
  {{ contents | safe }}
</section>
{% if next %}
  <section class="grav-o-container">
    <h4>Next story</h4>
    <a href="/{{ next.path }}">{{ next.title }}</a>
  </section>
{% endif %}
