{% if article.image and article.image.remote %}
  {% set imageSrc %}{{ article.image.src }}{% endset %}
{% else %}
  {% set imageSrc %}{{ env.url }}/{{ article.image.src or config.site.ogImage }}{% endset %}
{% endif %}
<li property="schema:itemListElement" typeof="schema:ListItem">
  <div class="grav-c-card-basic">
    <a href="/{{ article.path }}" property="schema:url">
      {% if article.image %}
        <picture>
          <source
            type="image/webp"
            srcset="
              {{ imageSrc | imgVariant('card','std', 1) | webp }} 585w,
              {{ imageSrc | imgVariant('card','std', 2) | webp }} 1170w
            "
            sizes="
              (max-width: 55.99rem) 100vw,
              (min-width: 56rem) and (max-width: 74.99rem) 50vw,
              (min-width: 75rem) 34.5rem
            "
          >
          <img
            property="schema:image"
            alt="{{ article.image.alt }}"
            src="{{ imageSrc | imgVariant('card','lrg', 1) }}"
            srcset="
              {{ imageSrc | imgVariant('card','std', 1) }} 585w,
              {{ imageSrc | imgVariant('card','std', 2) }} 1170w
            "
            sizes="
              (max-width: 55.99rem) 100vw,
              (min-width: 56rem) and (max-width: 74.99rem) 50vw,
              (min-width: 75rem) 34.5rem
            "
          >
        </picture>
        <svg role="img">
          <use xlink:href="#ui-arrow-right"></use>
        </svg>
      {% endif %}
      <h3 property="schema:name">{{ article.title }}</h3>
    </a>
    <p property="schema:description">{{ article.description }}</p>
    <meta property="schema:position" content="{{ loop.index }}">
  </div>
</li>
