{% if image and image.remote %}
  {% set imageSrc %}{{ image.src }}{% endset %}
{% else %}
  {% set imageSrc %}{{ env.url }}/{{ image.src or config.site.ogImage }}{% endset %}
{% endif %}
<article class="grav-c-article" typeof="schema:Article">
  <header class="grav-c-page-intro">
    <h1 property="schema:headline">{{ title }}</h1>
    <p>{{ description }}</p>
    <time property="schema:datePublished schema:dateModified" datetime="{{ date }}">{{ humanDate }}</time>
    <picture>
      <source
        type="image/webp"
        srcset="
          {{ imageSrc | imgVariant('title','lrg', 1) | webp }} 1168w,
          {{ imageSrc | imgVariant('title','lrg', 2) | webp }} 2336w
        "
        sizes="
          (max-width: 74.99rem) 100vw,
          (min-width: 75rem) 73rem
        "
      >
      <img
        property="schema:image"
        alt="{{ image.alt or config.site.ogImageAlt }}"
        src="{{ imageSrc | imgVariant('title','lrg', 1) }}"
        srcset="
          {{ imageSrc | imgVariant('title','lrg', 1) }} 1168w,
          {{ imageSrc | imgVariant('title','lrg', 2) }} 2336w
        "
        sizes="
          (max-width: 74.99rem) 100vw,
          (min-width: 75rem) 73rem
        "
      >
    </picture>
    <link rel="schema:author schema:publisher" href="https://buildit.wiprodigital.com/thing/buildit-org">
  </header>
  <meta property="schema:mainEntityOfPage" content="/{{ path }}">
  <div class="grav-c-ostentatious-copy" property="schema:articleBody">
    {{ contents | safe }}

    {% if canonicalUrl %}
    <aside class="web-c-subtle-notice">
      {% if originalSourceSiteId %}
        {% set sourceSite = externalSites[originalSourceSiteId] %}
        This is article was first posted on <a href="{{ sourceSite.url }}">{{ sourceSite.title }}</a>. <a href="{{ canonicalUrl }}">Read the original article</a>.
      {% else %}
        This article was originally published at: <a href="{{ canonicalUrl }}">{{ canonicalUrl }}</a>.
      {% endif %}
    </aside>
    {% endif %}
  </div>
</article>
{% if next %}
  <hr>
  <aside>
    <ul class="grav-c-related-items">
      <li>
        <span>Next Story</span>
        <a href="/{{ next.path }}">{{ next.title }}</a>
      </li>
    </ul>
  </aside>
{% endif %}
