{% if image and image.remote %}
  {% set imageSrc %}{{ image.src }}{% endset %}
{% else %}
  {% set imageSrc %}{{ env.url }}/{{ image.src or config.site.ogImage }}{% endset %}
{% endif %}
<article class="grav-c-article" typeof="schema:Article">
  <meta property="schema:mainEntityOfPage" content="/{{ path }}">
  <header class="grav-c-page-intro">
    <h1 property="schema:headline">{{ title }}</h1>
    <p>{{ description }}</p>
    <time property="schema:datePublished schema:dateModified" datetime="{{ date }}">{{ humanDate }}</time>
    <img property="schema:image" src="{{ imageSrc }}" alt="{{ image.alt or config.site.ogImageAlt }}" />
    <link rel="schema:author schema:publisher" href="https://buildit.wiprodigital.com/thing/buildit-org">
  </header>
  <div class="grav-c-ostentatious-copy" property="schema:articleBody">
    {{ contents | safe }}

    {% if canonicalUrl %}
    <aside class="web-c-subtle-notice">
      {% if originalSourceSiteId %}
        {% set sourceSite = externalSites[originalSourceSiteId] %}
        This is article was first posted on <a href="{{ sourceSite.url }}">{{ sourceSite.title }}</a>. <a href="{{ canonicalUrl }}">Read the original article</a>.
      {% else %}
        This article was originally published at: <a href="{{ canonicalUrl }}">{{ canonicalUrl }}</a>.
      {% endif %}
    </aside>
    {% endif %}
  </div>
</article>
{% if next %}
  <hr>
  <aside>
    <ul class="grav-c-related-items">
      <li>
        <span>Next Story</span>
        <a href="/{{ next.path }}">{{ next.title }}</a>
      </li>
    </ul>
  </aside>
{% endif %}
