/* About  Overrides */
/* General Styles */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.page-contents {
  width: 100%;
  background-color: #1b1c1d;
  color: white;
}

.subheader {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.page-contents p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #cccccc;
}

.content-wrapper {
  padding: 16px;
}

/* - About Page */
.about-header-wrapper {
  padding-bottom: 16px;
}
.about-header {
  font-size: 2.3rem;
  line-height: 3rem;
  padding: 16px;
  margin: 0;
}
.content-half-body {
  padding: 16px;
}

.about-half-content {
  width: 100%;
}

.about-people-banner {
  background-image: url('../assets/images/innovate.jpg');
  display: block;
  width: 100%;
  height: 360px;
  background-size: cover;
}

.about-people-banner .about-header {
  float: right;
  padding: 8%;
  background-color: rgba(27,28,29,0.6);
  font-size: 1.8rem;
  line-height: 2.6rem;
  height: 100%;
}

.our-approach-wrapper {
    background-image: url('../assets/images/formula-bg.jpg');
    display: block;
    width: 100%;
    height: 440px;
    background-size: cover;
}

/* Alpha to Omega story*/
.about-step-wrapper {
  width:100%;
  padding-bottom: 32px;
}

.about-step-wrapper img {
  padding-top: 0px;
  width: 30%;
  float: left;
}

.about-step-wrapper p {
  float: left;
  width:70%;
  padding-left: 16px;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media(min-width: 350px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}

@media(min-width: 400px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3.3rem;
    padding: 24px;
  }
  .content-half-body {
    padding: 24px;
  }
  .content-half-body.our-approach {
    padding-top: 40px;
  }
}

@media (min-width: 640px) {
  .about-header {
    width: 50%;
    padding-top: 24px;
    padding-bottom: 24px;
    float: left;
  }
  .content-half-body {
    width: 50%;
    padding-top: 24px;
    padding-bottom: 24px;
    float: left;
  }
  .about-people-banner {
    height: 450px;
  }
  .about-people-banner .about-header {
    width: 45%;
  }
}

@media (min-width: 1000px){
  .about-header {
    font-size: 2.8rem;
    line-height: 3.8rem;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .content-half-body.about-group {
    max-width: 450px;
    float: right;
    margin-right: 24px;
  }
}
