/* About  Overrides */
/* General Styles */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.page-contents {
  width: 100%;
  background-color: #1b1c1d;
  color: white;
}

.line-divide {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 32px;
}

/* =========
body copy */
.page-contents p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #cccccc;
}
.page-contents p.inverted {
  color: #333333;
}

/*.page-contents h3.inverted {
color: #333333;
}*/

.inverted {
  color: #333333;
}
/* ====================
about-header section */
.about-header-section {
  padding: 32px 0;
}
/*manual adjust*/
@media (min-width: 768px){
  .about-header-body {
    padding-top: 16px;
    padding-bottom: 16
  }
}
@media (min-width: 1400px){
  .about-header-body {
    padding-top: 34px;
  }
}
.about-header {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media(min-width: 350px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}
@media(min-width: 400px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3.3rem;
  }
}
@media (min-width: 640px) {
  .about-header {
  }
}
@media (min-width: 1000px){
  .about-header {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
}
@media(min-width: 1400px){
  .about-header {
    font-size: 3.6rem;
    line-height: 1.4em;
  }
}

/* ===========
Sub headings */
.subheader {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.subheader-large-center {
  font-size: 1.8rem;
  padding: 32px 0;
  padding-bottom: 12px;
}
.category-header {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.4rem;
}

/* =========
who we are */
.about-who-we-are p {
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
}
h3.icon-text {
  margin-bottom: 8px;
}

/* ======
People */
.about-people {
  max-width: 1127px;
  margin: 0 auto;
}
.about-people-banner {
  background-image: url('../assets/images/innovate.jpg');
  height: 240px;
  background-size: cover;
}
.about-people-banner .about-header {
  background-color: rgba(27,28,29,0.6);
  font-size: 1.4rem;
  line-height: 2.4rem;
  height: 100%;
  padding-top: 42px;
  font-weight: 300;
  padding:24px;
}
@media(min-width:480px){
  .about-people-banner .about-header{
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
@media(min-width:600px){
  .about-people-banner {
    height: 240px;
  }
  .about-people-banner .about-header{
    font-size:2.2rem;
    line-height: 3.2rem;
  }
}
@media(min-width:768px){
  .about-people-banner {
    height: 370px;
  }
  .about-people-banner .about-header{
    width: 42%;
    font-size:2.2rem;
    line-height: 3.2rem;
    float: right;
    text-align: left;
    margin-top: 0;
  }
}
@media(min-width:768px) {
  .about-people-banner {
    height: 400px;
  }
}
@media(min-width:1100px) {
  .about-people-banner {
    height: 450px;
  }
  .about-people-banner .about-header{
    width: 42%;
    font-size:2.6rem;
    line-height: 3.6rem;
    float: right;
    text-align: left;
    padding-top: 42px;
  }
}

/* ============
Our approach */
.ui.image.about-kke-img {
  max-width: 600px;
  width:100%;
  float: right;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-right: 32px;
}

/* ===================
Alpha to Omega story*/
.about-step-wrapper {
  width:100%;
  padding-bottom: 32px;
}

.about-step-wrapper img {
  padding-top: 0px;
  width: 30%;
  float: left;
}
.ui.image.about-icon{
  margin: 0 auto;
  height: 190px;
  margin-bottom: -40px;
  margin-top: -60px;
}


.about-footer-lead {
  padding-bottom: 64px;
}

.about-banner-white {
  background-color: white;
}

.we-are-text p {
  line-height: 1.6rem;
}
