/* About  Overrides */
/* General Styles */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.page-contents {
  width: 100%;
  background-color: #1b1c1d;
  color: white;
}

.subheader {
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-top: 32px;
}

.subheader-large-center {
  font-size: 1.8rem;
  padding: 32px 0;
  text-align: center;
}

.page-contents p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #cccccc;
}

.content-wrapper {
  padding: 16px;
}

/* - About Page */
.about-header-wrapper {
  padding-bottom: 16px;
  border-bottom: 1px solid #ffffff;
}

.divider {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 24px;
}

.about-header {
  font-size: 2.3rem;
  line-height: 3rem;
  padding: 16px;
  margin: 0;
}
.content-half-body {
  padding: 16px;
}

.about-half-content {
  width: 100%;
}

.about-banner-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 50%;
}

.about-people-banner {
  background-image: url('../assets/images/innovate.jpg');
  display: block;
  width: 100%;
  height: 360px;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.about-people-banner .about-header {
  float: right;
  padding: 8%;
  background-color: rgba(27,28,29,0.6);
  font-size: 1.8rem;
  line-height: 2.6rem;
  height: 100%;
}

.our-approach-wrapper {
  background-image: url('../assets/images/formula-bg.jpg');
  display: block;
  width: 100%;
  height: 440px;
  background-size: cover;
}

.ui.image.about-kke-img {
  max-width: 400px;
  width:100%;
  float: right;
  padding-top: 32px;
  padding-bottom: 24px;
}

/* Alpha to Omega story*/
.about-step-wrapper {
  width:100%;
  padding-bottom: 32px;
}

.about-step-wrapper img {
  padding-top: 0px;
  width: 30%;
  float: left;
}
.ui.image.about-icon{
  max-width: 80px;
}

.about-step-wrapper h3 {
  text-align: center;
}

.about-step-wrapper p {
  float: left;
  width:70%;
  padding-left: 16px;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media(min-width: 350px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}

@media(min-width: 400px){
  .about-header {
    font-size: 2.3rem;
    line-height: 3.3rem;
    padding: 24px;
    padding-left: 16px;
  }
  .content-half-body {
    padding: 24px;
  }
  .content-half-body.our-approach {
    padding-top: 40px;
  }
  .about-step-wrapper {
    width:50%;
    float: left;
    padding: 16px;
    min-height: 250px;
  }
  .about-step-wrapper img {
    width: 60%;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 16px;
  }
  .about-step-wrapper p {
    float: none;
    width:100%;
    padding-left: 0px;
    text-align: center;
  }
}

@media (min-width: 640px) {
  .about-header {
    width: 50%;
    padding-top: 52px;
    float: left;
  }
  .content-half-body {
    width: 50%;
    padding-top: 24px;
    padding-bottom: 24px;
    float: left;
  }
  .about-people-banner {
    /*height: 450px;*/
  }
  .about-people-banner .about-header {
    width: 45%;
  }

  .about-step-wrapper {
    width:25%;
    float: left;
    padding: 8px;
  }
}

@media (min-width: 1000px){
  .about-header {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
  .about-step-wrapper {
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  .content-half-body.about-group {
    max-width: 450px;
    float: right;
    margin-right: 24px;
  }
  .about-header,
  .content-wrapper.content-half-body {
    padding-bottom: 32px;
  }
}

@media(min-width: 1400px){
  .about-header {
    font-size: 3.6rem;
    line-height: 4.1rem;
  }

  .about-people-banner .about-header {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
