/** beginning contacts page **/

/* New Code */
.contact-cards {
    text-align: left;
    font-size: 1.2em;
    padding: 24px !important;
    min-height: 280px;
}

.contact-cards h2 {
    text-transform: uppercase;
    font-family: "Neue Helvetica W01",sans-serif;
    font-size: 1.875em;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-cards p {
    font-weight: 200;
}

.contact-cards.card-white {
    background-color: #ffffff;
}

.contact-cards.card-black {
    background-color: #141516;
}

.contact-cards.card-grey {
    background-color: #1c1f22;
}

.contact-cards.card-blue {
    background-color: #2185d0;
}

.contact-cards.card-white a {
    color: #1c1f22;
}
 
.contact-cards.card-blue a, .contact-cards.card-black a, .contact-cards.card-grey a {
    color: #ffffff;
}

.location svg {
    position: absolute;
    bottom: 18px;
    right: 24px;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}

.location:hover svg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact-cards.card-black .location svg, .contact-cards.card-grey .location svg, .contact-cards.card-blue .location svg {
    fill: #ffffff;
}
