/** beginning contacts page **/

/* New Code */
.contact-cards {
    text-align: left;
    font-size: 1.2em;
    padding: 24px !important;
}

.contact-cards h2 {
    text-transform: uppercase;
    font-family: "Neue Helvetica W01",sans-serif;
    font-size: 1.8em;
    font-weight: normal;
}

.contact-cards p {
    font-family: "Leitura News W01", serif;
    font-weight: 200;
}

.contact-cards a {
    color: #1c1f22;
}

.contact-cards.card-white {
    background-color: #ffffff;
}

.contact-cards.card-black {
    background-color: #141516;
}

.contact-cards.card-grey {
    background-color: #1c1f22;
}

.contact-cards.card-yellow {
    background-color: #fcff00;
}

.contact-cards.card-grey a, .contact-cards.card-black a {
    color: #ffffff;
}




















/*.bottom-underline {*/
  /*text-decoration: underline;*/
  /*padding-bottom: 3em !important;*/
/*}*/

/*span.bottom-underline  {
  text-transform: uppercase;
  display:inline-block;
  margin-bottom: 2em;
  padding: 1.3em 1em;*/
  /** TODO Replace with the right colors **/
  /*color: #616161;
  border-bottom:6px solid #1e70bf;
  font-weight: 200;
}*/

/*#contacts-nav {*/
  /** TODO change with appropriate color when decided **/
  /*background-color: #1b1c1d;
  -webkit-box-shadow: inset -1px 0px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset -1px 0px 1px 0px rgba(0,0,0,0.3);
  box-shadow: inset -1px 0px 1px 0px rgba(0,0,0,0.3);
}*/

/*.ui.link.list
  a.item.nav-link {*/
    /** TODO Change with the right color **/
    /*padding: 20px;
    text-transform: capitalize;
    color: rgb(204, 204, 204);
}*/

/*.ui.link.list
  a.active.item.nav-link {*/
    /** TODO Change with the right color **/
    /*color: white;
}*/

/*@media only screen and (max-width:767px) {*/
  /*.column .image-block {*/
    /*padding-top: 1em;*/
    /*padding-right: 2em;*/
    /*padding-bottom: 2em;*/
  /*}*/
  /*#contacts-nav {
    display: none;
  }
}

.image-block > h2.uppercased {
  text-transform: uppercase;
  font-style: normal;
}*/

/** beginning CSS for contact2 page **/
/*.image-block.center-aligned {
  text-align: center !important;*/
  /*padding-top: 2em !important;*/
  /*padding-bottom: 2em !important;*/
/*}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid>.column:not(.row).no-padding {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .ui.stackable.grid>.row>.column.no-padding {
    padding: 0 !important;
  }
}*/
/** end CSS for contact2 page **/


/** beginning CSS for contact3 page **/
/*h1.ui.header>span {
  color: #2185d0;
}

.typewriter {
  margin: 0;
  display: inline;
  margin-left: .01em;
}

.typewriter span {
  color: rgba(255,255,255,.8);
}

.concepts span {
  color: rgba(255,255,255,1);
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 33%;
}

.concepts-animate span {
  animation: typeWord 20s linear infinite;
}

.concepts span:nth-child(2) {
  animation-delay: 4s;
}

.concepts span:nth-child(3) {
  animation-delay: 8s;
}

.concepts span:nth-child(4) {
  animation-delay: 12s;
}

.concepts span:nth-child(5) {
  animation-delay: 16s;
}

@-webkit-keyframes typeWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
  }

  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  25% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  27% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes typeWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -ms-transform: translateX(-30px);
  }

  5% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  17% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  20% {
    opacity: 0;
    -ms-transform: translateX(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes typeWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  17% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.ui.header.l-aligned {
  text-align: left;
  color: white;
}

.r-padded {
  padding-right: 2em;
}*/
/** end CSS for contact3 page **/

/** beginning CSS for contact5 page **/
/*.shadowed {
  padding: 3.5vw 4vw !important;
  border-top: 5px solid rgba(255, 255, 255, .1)!important;
  background-color: #1b1c1d;
  color: white !important;
  -webkit-box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.3);
}

.thinned {
  font-weight: 300;
}

@media only screen and (max-width:767px) {
  .shadowed {
    padding: 1vmin;
  }
}*/
/** end CSS for contact5 page **/

/** TODO Remove image .contact class in pusher div aligned segment contact**/
/*.ui.inverted.segment.contact {*/
  /*background-image: url(../assets/images/shutterstock_221064886.jpg), url(../assets/images/Globe_export.png);*/
  /*background-color: rgba(0,0,0,1);*/
  /*background-size: cover;*/
/*}*/

/** end contacts page **/
