.index-hero-banner {
  background-image: url(../assets/images/grid-buildit-01.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-position: 0vw 0vh;
}

h1.ui.header.index-hero-text {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 300;
}

.index-hero-text a {
  color: #4183c4;
}

.ui.vertical.stripe h2.index-header-text {
  font-size: 2.4rem;
  font-weight: 300;
}

.ui.vertical.stripe p.index-header-text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin-top: 0;
  margin: 0;
}

.subheader-large-center.index-header {
  padding-bottom: 0;
}
.ui.segment.index-three-col {
  margin: 0;
  border-radius: 0;
  background-color: #1b1c1d;
}

.text-constrain {
  max-width: 800px;
  margin: 0 auto;
}

.text-constrain.hero p{
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.3rem;
  padding-bottom: 32px;
}

.index-list {
  padding: 8px;
}

.index-list ul {
  padding-left: 8px;
}
.index-list ul li {
  margin-bottom:8px;
}






/*.buildit-value {
box-sizing: border-box;
color: #2E3234;
}

.buildit-value > span.lines {
height: 30px;
border-bottom: 5px solid #2D2D33;
width: 48%;
min-width: 47%;
}

.buildit-value > span.circle {
position: relative;
height: 30px;
width: 3%;
min-width: 3%;
color: #2D2D33;
}

.buildit-value > span.circle i {
margin: 0 auto;
position: absolute;
top: 0;
left: 0;*/
/* pull circle icon */
/*margin-left: -10px;*/
/* cover with bg color when overlaying */
/*background-color: white;
color: #2D2D33;
}

.value-card > h2 {
text-transform: capitalize;
}

.value-card > p {
text-transform: lowercase;
}

.t-b-marged {
margin: 1.2em 0;
}

.t-marged.big {
margin-top: 3em !important;
}

.padded {
padding: .5em 1em 1.5em 1em;
}*/

/* Computer / Desktop / iPad Landscape */
/*@media only screen and (min-width: 992px) and (max-width: 1199px) {
}*/

/* Tablet / iPad Portrait */
/*@media only screen and (min-width: 768px) and (max-width: 991px) {
.buildit-value > span {
}
}*/

/* Mobile */
/*@media only screen and (max-width: 767px) {
.row.buildit-value {
margin-top: 1.5em;
}
}*/
