
section.page {
  margin-top: 2em;
  background-color: red;
}

.ui.header.padded {
  margin-top: 2em;
  padding: 10px;
}

.ui.header.colored {
  background-color: red;
}

.ui.header.label {
  min-width: 25%;
  max-width: 35%;
}

.column.no-padding {
  position: relative!important;
  padding: 0!important;
}

.column .image-block {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 1em;
  /*padding-right: 1em;*/
  padding-bottom: 1em;
  text-align: right;
  background-color: rgba(27,28,29,.6);
  /*color: #000;*/
}

.image-block>h2 {
  font-style: italic;
  color: white;
}

.image-block_text>
  h3, h4 {
  /*text-transform: uppercase;*/
  color: rgb(204, 204, 204);
}

@media only screen and (max-width:767px) {
  .column .image-block {
    padding-top: .5em;
    /*padding-right: 2em;*/
    padding-bottom: .5em;
  }
}

.image-block >
  h2 { margin-bottom: .2em;}

.image-block_text >
h3 {
  margin-bottom: .2em;
}
.image-block_text >
h4 { margin-top: .2em; }

.image-block_text >
h4:last-child { margin-bottom: .5em; }


section.full-height {
  height: 100%;
}
