.navigation-spacer {
  display: block;
  height: 66px;
}
.ui.secondary.pointing.menu .navigation__logo {
  text-indent: -9999px !important;
  background: url("assets/images/logo-w.svg") no-repeat;
  background-size: contain;
  width: 35%;
  margin-top: 10px;
}
.ui.secondary.pointing.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 700px) {
  .ui.secondary.pointing.menu .item {
    display: none;
  }
  .ui.secondary.pointing.menu .item.toc,
  .ui.secondary.pointing.menu .item.navigation__logo {
    display: block;
  }
}
