.navigation-spacer {
  display: block;
  height: 66px;
}
.ui.secondary.pointing.menu.inverted.segment.navigation {
  background: #000;
}
.ui.secondary.pointing.menu a.item.navigation__logo {
  text-indent: -9999px !important;
  background: url("assets/images/logo-w.svg") no-repeat;
  background-size: contain;
  width: 250px;
  padding-bottom: 4px;
}
.ui.secondary.pointing.menu a.item.navigation__logo:visited,
.ui.secondary.pointing.menu a.item.navigation__logo:hover,
.ui.secondary.pointing.menu a.item.navigation__logo:active {
  background: url("assets/images/logo-w.svg") no-repeat;
}
.ui.secondary.pointing.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 700px) {
  .ui.secondary.pointing.menu .item {
    display: none;
  }
  .ui.secondary.pointing.menu .item.toc,
  .ui.secondary.pointing.menu .item.navigation__logo {
    display: block;
  }
}
