{% if blocks.footerWrapper %}
  {{ blocks.footerWrapper | safe }}
{% else %}
<footer class="grav-u-font-size-minus-2">
  {# Fall back to rendering standard block partial #}
  {% include 'partials/blocks/footer.njk' %}
</footer>
{% endif %}
