{% if blocks.headerWrapper %}
  {{ blocks.headerWrapper | safe }}
{% else %}
<header class="grav-u-color-scheme-buildit-white">
  {# Fall back to rendering standard block partial #}
  {% include 'partials/blocks/header.njk' %}
</header>
{% endif %}
