{% if not title %}{% set title = config.site.title %}{% endif %}
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="{{ description }}">
{% if build.excludeRobots %}
    <meta name="robots" content="noindex">
{% else %}
    {% if metaRobots %}
        <meta name="robots" content="{{ metaRobots }}">
    {% endif %}
{% endif %}

{% if canonicalUrl %}
<link rel="canonical" href="{{ canonicalUrl }}">
{% endif %}

<!-- Open Graph -->
<meta property="og:title" content="{{ ogTitle or title }}">
<meta property="og:description" content="{{ ogDescription or description or config.site.description }}">
<meta property="og:site_name" content="{{ config.site.title }}">
<meta property="og:type" content="{{ ogType or config.site.ogType }}">
<meta property="og:url" content="{{ env.url }}/{% if path %}{{ path }}{% endif %}">

{% if ogImage.remote or image.remote %}
  {% set imageSrc %}{{ ogImage.src or image.src }}{% endset %}
{% else %}
  {% set imageSrc %}{{ env.url }}/images/{{ ogImage.src or image.src or config.site.ogImage }}{% endset %}
{% endif %}
<meta property="og:image" content="{{ imageSrc }}">
<meta property="og:image:alt" content="{{ ogImage.alt or image.alt or config.site.ogImageAlt }}">

<!-- Open graph: Article -->
{% if ogType == 'article' %}
  {% if date %}<meta property="og:article:published_time" content="{{ date | safe }}">{% endif %}
  {% if author.name %}<meta property="og:article:author" content="{{ author.name }}">{% endif %}
  {% if section %}<meta property="og:article:section" content="{{ section }}">{% endif %}
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="{{ config.site.twitterCard }}"/>
<meta name="twitter:site:id" content="{{ config.site.twitterSiteId }}"/>

<link rel="stylesheet" href="/styles/style.css">
{% if env.debugCss %}
  <link rel="stylesheet" href="/styles/debug.css">
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ gravityParticles.colorSchemes.tealWhite.groupB.accent }}">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="{{ gravityParticles.colorSchemes.tealWhite.groupB.accent }}">
