<!-- Scripts -->
<script src="/scripts/bundle.min.js" defer></script>
{% if env.gtm.containerId and env.gtm.authId and env.gtm.previewId %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth={{env.gtm.authId}}&gtm_preview={{env.gtm.previewId}}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{env.gtm.containerId}}');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{env.gtm.containerId}}&gtm_auth={{env.gtm.authId}}&gtm_preview={{env.gtm.previewId}}&gtm_cookies_win=x"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
<!-- End scripts -->
