<li typeof="schema:JobPosting">
  <a rel="schema:url" property="schema:title" href="{{job.url}}">{{job.title}}</a>
  <meta property="schema:datePosted" content="{{job.datePosted}}">
  <meta property="schema:employmentType" content="{{job.typeOfEmployment}}">
  <meta property="schema:industry" content="{{job.industry}}">
  <meta property="schema:description" content="For the full job description please visit: {{job.url}}">
  <link property="schema:hiringOrganization" href="https://buildit.wiprodigital.com/thing/buildit-org">
  <link property="schema:jobLocation" href="{{job.location.uri}}">
</li>
