<main>
  {% if blocks.hero %}
    <section class="grav-c-hero">
      {{ blocks.hero | safe }}
    </section>
  {% endif %}
  {% if blocks.contents %}
    {{ blocks.contents | safe }}
  {% else %}
    {# Fall back to rendering contents #}
    <section class="grav-o-container">
      {{ contents | safe }}
    </section>
  {% endif %}
</main>
