---
# Meta-data
title: 404 - Page not found
permalink: false
metaRobots: noindex
private: true # Excludes this from sitemap.xml

# Display
layout: basic-page.njk
---
<section class="grav-o-section grav-u-text-centered">
  <pre class="grav-c-ascii-art" aria-hidden="true">(╯°Д°)╯︵ ┻━┻</pre>
  <h1>{{ title }}</h1>
  Sorry! We looked everywhere but we can't find the page you're looking for.
  <div class="grav-o-container">
    <a href="/" class="grav-c-cta">Go to the homepage</a>
  </div>
</section>
