{{#extend "page"}}

{{#content "flourish-top"}}
  <div class="flourish-wrap">
    <div class="flourish flourish-top">
      <div class="flourish-top__polygon-shape-4 js-reveal-element" data-exclude="bottom">
        {{>background-elements polygon-shape-4=true}}
      </div>
      <div class="flourish-top__hatching-pattern-3 js-reveal-element" data-exclude="bottom">
        {{>background-elements hatching-pattern-3=true}}
      </div>
    </div>
  </div>
{{/content}}

{{#content "main"}}
  
  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}

  {{{contents}}}

  <section{{#class}} class="{{class}}"{{/class}}>
  {{#markdown}}
  ## Who we are
  {{/markdown}}

  {{>organisms-list-img-cards}}

  {{#markdown}}
  ## What we do
  We partner with our clients to solve hard problems, and help them deliver world-class products.We help them improve the way they solve business problems, ultimately changing the way they change.

  We help organisations understand what they need to do to survive in an ever more rapidly changing world.

  True transformation only happens when change touches all areas of a company. We believe that change must be holistic and consider all aspects of the organisational stack, from recruitment to procurement, from operations to engineering, and from sales to support. We call this vertical transformation.

  _Read more about some of the [technologies](https://medium.com/buildit/technology/home) we work with, and our thoughts on [Design Systems](https://medium.com/buildit/design-systems/home) on our Medium blog._
  {{/markdown}}
  
  <div class="flourish-pullquote-wrap">
    <div class="flourish flourish-pullquote">
      <div class="flourish-pullquote__hatching-pattern-1 js-reveal-element" data-exclude="bottom">
        {{>background-elements hatching-pattern-1=true}}  
      </div>
      <div class="flourish-pullquote__polygon-shape-1 js-reveal-element" data-exclude="bottom">
        {{>background-elements polygon-shape-1=true}}
      </div>
      <span class="flourish-pullquote__text">
        We are problem solvers who hone our craft through experimentation, continuous improvement and systems thinking.
      </span>
    </div>
  </div>
  
  {{#markdown}}
  ## How we do it
  We are problem solvers who hone our craft through experimentation, continuous improvement and systems thinking.

  We are pragmatic partners who seek out the challenging work in all engagements, whether at enterprise scale or startup speed.

  We approach each project and client as unique and we never start with a preconceived outcome or solution.
  
  _Read more about how we approach [organisational change](https://medium.com/buildit/org-change/home) on our Medium blog._


  ## Our people
  Buildit has an open structure, which means that employees work within wide boundaries.

  The environment and culture, which is shaped by Buildit’s people, is driven by several key factors including transparency, curiosity, inclusivity, pragmatism and responsibility. Buildit employees work in an environment where everyone is encouraged to continually develop through a cohesive unit of learning, and perhaps more importantly, given the autonomy to do so.

  We are part of the larger [Wipro](https://www.wipro.com/) network and partner with.  
  {{/markdown}}

  {{>organisms-list-inline-row}}
  </section>
{{/content}}

{{#content "flourish-tail"}}
  <div class="flourish-wrap">
    <div class="flourish flourish-tail">
      <div class="flourish-tail__polygon-shape-4 js-reveal-element" data-exclude="top">
        {{>background-elements polygon-shape-4=true}}
      </div>
      <div class="flourish-tail__hatching-pattern-2 js-reveal-element" data-exclude="top">
        {{>background-elements hatching-pattern-2=true}}
      </div>
      <div class="flourish-tail__polygon-shape-3 js-reveal-element" data-exclude="top">
        {{>background-elements polygon-shape-3=true}}
      </div>
    </div>
  </div>
{{/content}}

{{/extend}}
