{{#extend "page"}}

{{#content "flourish-top"}}
  <div class="flourish-wrap">
    <div class="flourish flourish-top-2">
      <div class="flourish-top-2__polygon-shape-4 js-reveal-element" data-exclude="bottom">
        {{>background-elements polygon-shape-4=true}}
      </div>
      <div class="flourish-top-2__hatching-pattern-2 js-reveal-element" data-exclude="bottom">
        {{>background-elements hatching-pattern-2=true}}
      </div>
    </div>
  </div>
{{/content}}

{{#content "main"}}
  <section>
    <h1>{{title}}</h1>
    {{{contents}}}
    <p class="grav-u-text-centered">
      <a href="#the-hiring-process" class="grav-c-cta">Our hiring process</a>
    </p>
  </section>

  {{#each jobLocations}}
    {{>organism-job-list}}
  {{/each}}

  <section>
    <h2 id="the-hiring-process">The hiring process</h2>
    <p>We want to have a simple process that will allow both us and you to bring out the best of all parties. We want to make sure that we are right for you as much as the other way around. The typical hiring process is as follows:</p>
    {{>molecule-steps}}
  </section>
{{/content}}

{{#content "flourish-tail"}}
<div class="flourish-wrap">
  <div class="flourish flourish-tail-2">
    <div class="flourish-tail-2__hatching-pattern-3 js-reveal-element" data-exclude="top">
      {{>background-elements hatching-pattern-3=true}}
    </div>
    <div class="flourish-tail-2__polygon-shape-3a js-reveal-element" data-exclude="top">
      {{>background-elements polygon-shape-3=true}}
    </div>
    <div class="flourish-tail-2__polygon-shape-3b js-reveal-element" data-exclude="top">
      {{>background-elements polygon-shape-3=true}}
    </div>
  </div>
</div>
{{/content}}

{{/extend}}
