{{#extend "page"}}
{{#content "main"}}
<section class="grav-o-section grav-u-text-centered">
  <pre class="grav-c-ascii-art" aria-hidden="true">(╯°Д°)╯︵ ┻━┻</pre>
  <h1>{{title}}</h1>
  {{{contents}}}
  <div class="grav-o-container">
    <a href="/" class="grav-c-cta">Go to the homepage</a>
  </div>
</section>
{{/content}}
{{/extend}}
