{{#extend "page"}}
{{#content "main"}}

  <section class="grav-c-hero">
    <canvas id="js-canvas-hero"></canvas>
    <blockquote class="grav-c-pullout">Buildit is a global network of transformation studios.<br>We help connect the dots in an ever-changing world.</blockquote>
  </section>

  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}
  {{{contents}}}
  {{>page-anchors}}
  {{>scripts-footer}}

{{/content}}
{{/extend}}
