<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>

  <main>
    {{#title}}
    <h1>{{title}}</h1>
    {{/title}} {{{contents}}}
  </main>
  {{>page-anchors}} {{>page-footer}} {{>scripts-footer}}

</body>

</html>