{{#extend "page"}}
{{#content "main"}}

  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}

  <section class="grav-c-hero"></section>

  <section class="grav-o-container">
    <blockquote>{{{blockquote}}}</blockquote>
  </section>
  
  <section class="grav-o-container grav-u-text-centered">
    <p>Some areas of practice we are passionate about: </p>
    <ul class="grav-c-two-columns-text">
      {{#each items}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>To learn more, check out our <a href="https://medium.com/buildit/">blog</a>.</p>
  </section>

  {{>scripts-footer}}

{{/content}}

{{#content "flourish-tail"}}
<div class="flourish-wrap">
  <div class="flourish flourish-tail-2">
    <div class="flourish-tail-2__polygon-shape-4 js-reveal-element" data-exclude="top">
      {{>background-elements polygon-shape-4=true}}
    </div>
    <div class="flourish-tail-2__hatching-pattern-3 js-reveal-element" data-exclude="top">
      {{>background-elements hatching-pattern-3=true}}
    </div>
  </div>
</div>
{{/content}}

{{/extend}}
