{{#extend "page"}} {{#content "main"}}
<section>
  <main class="grav-o-container">
    <h1>{{title}}</h1>
    <div class="grav-c-list-2cols">
      {{#each locations}}
        {{>molecules-location-card}}
      {{/each}}
    </div>
  </main>
</section>
{{/content}} {{/extend}}