{{#extend "page"}}

{{#content "flourish-top"}}
  {{> flourish flourish-top }}
{{/content}}

{{#content "main"}}
 
  <h1>{{title}}</h1>
 
  <section>
    <div class="grav-c-two-columns-block">
      {{#each collections.locations}}
        {{>molecule-location-card}} 
      {{/each}}
    </div>
  </section>

{{/content}}

{{#content "flourish-tail"}}
  {{> flourish flourish-tail }}
{{/content}}

{{/extend}}
