<section class="grav-c-hero">
  <h1>
    We <strong>build brands</strong> for the digital world.
  </h1>
  <p>
    Welcome to our new Buildit website featuring stories by and about our technical <strong>people</strong> and teams.
    News from our <strong>community</strong>, and an easy way to search the entire range of relevant
    <strong>jobs</strong>
  </p>
</section>
<section class="grav-o-container">
</section>
