<section class="grav-c-hero">
  <img
    class="grav-c-hero__banner"
    src="images/hero.jpg"
    alt=""
  />

  <div class="grav-c-hero__container">
    {{ contents | safe }}
  </div>
</section>

<section class="grav-o-container">
  <ul class="grav-c-list-cards-basic" typeof="schema:ItemList">
    {% for article in colArticles %}
      {% include "partials/articles/list-item.njk" %}
    {% endfor %}
  </ul>
</section>

<section class="grav-c-callout grav-u-color-scheme-contrast">
  <div class="grav-c-callout__columns">
    <p><strong>We’re worldwide.</strong><br/>That’s right next to you.</p>
    <ul class="grav-c-three-column-list-justified">
      {% for location in colLocations %}
        <li>
          <a href="/locations/{{ location.citySlug }}/">
            {{ location.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
