{% if blocks.mainWrapper %}
  {{ blocks.mainWrapper | safe }}
{% else %}
<main class="grav-u-mt-none">
  {# Fall back to rendering standard block partial #}
  {% include 'partials/blocks/main.njk' %}
</main>
{% endif %}
