extends layout.pug

block head
  - var title = 'Buildit'

block content
  .ui.container.index-hero-banner
    h1.ui.sixteen.wide.padded.centered.aligned.header.index-hero-text
      a(href='/') This is not the page you were looking for

  .ui.vertical.stripe.segment.center.aligned.inverted
      a.ui.primary.button.big(href='/careers.html') Careers
      a.ui.primary.button.big(href='/contact.html') Find us
