extends layout.pug

mixin job(title, team, location, link)
  li.opening-job.job.column.wide-1of2.medium-1of2
    a.link--block.details(href=link)
      h3.details-title.job-title.link--block-target= title
      ul.details-desc.desc-items.list--dotted
        li.desc-item= team
        li.desc-item= location

block head
  - var title = 'Buildit - Careers'
  - var currentPage = 'Careers'

block content
  .ui.vertical.people.stripe.segment
    .ui.top.aligned.stackable.grid.container
      .sixteen.wide.column
        h1 &hellip;still interested?
      .sixteen.wide.column
        ul#jobs-board.opening-jobs.grid--gutter.padding--none.js-openings-load(data-page='1', data-more='/more/WiproDigital/buildit.digital')
