extends layout.pug

mixin job(title, team, location, link)
  li.opening-job.job.column.wide-1of2.medium-1of2
    a.link--block.details(href=link)
      h3.details-title.job-title.link--block-target= title
      ul.details-desc.desc-items.list--dotted
        li.desc-item= team
        li.desc-item= location

block head
  - var title = 'Buildit - Careers'
  - var currentPage = 'Careers'

block content
  .ui.vertical.people.stripe.segment
    .ui.top.aligned.stackable.grid.container
      .sixteen.wide.column
        h1 &hellip;still interested?
      .eight.wide.column
        ul.opening-jobs.grid--gutter.padding--none.js-openings-load(data-page='1', data-more='/more/WiproDigital/buildit.digital')
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113974089-business-operations-controller')
              h3.details-title.job-title.link--block-target Business Operations Controller
              ul.details-desc.desc-items.list--dotted
                li.desc-item London, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113949898-senior-platform-engineer')
              h3.details-title.job-title.link--block-target Senior Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Bengaluru, India
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113949361-creative-technologist')
              h3.details-title.job-title.link--block-target Creative Technologist
              ul.details-desc.desc-items.list--dotted
                li.desc-item Bengaluru, India
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113948757-devops-engineer-wipro-digital')
              h3.details-title.job-title.link--block-target DevOps Engineer - Wipro Digital
              ul.details-desc.desc-items.list--dotted
                li.desc-item London, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113335519-delivery-lead')
              h3.details-title.job-title.link--block-target Delivery Lead
              ul.details-desc.desc-items.list--dotted
                li.desc-item New York, NY
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/113335393-delivery-lead')
              h3.details-title.job-title.link--block-target Delivery Lead
              ul.details-desc.desc-items.list--dotted
                li.desc-item Denver, CO
                li.desc-item Full-time

      .eight.wide.column
        ul.opening-jobs.grid--gutter.padding--none.js-openings-load(data-page='1', data-more='/more/WiproDigital/buildit.digital')
          li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110695432-delivery-lead')
                h3.details-title.job-title.link--block-target Delivery Lead
                ul.details-desc.desc-items.list--dotted
                  li.desc-item New York, NY
                  li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110661495-front-end-engineer')
              h3.details-title.job-title.link--block-target Front End Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Edinburgh, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110661311-platform-engineer')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Edinburgh, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110183663-devops-engineer')
              h3.details-title.job-title.link--block-target DevOps Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item London, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/109983134-front-end-engineer')
              h3.details-title.job-title.link--block-target Front End Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item London, United Kingdom
                li.desc-item Full-time
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/109982171-platform-engineer')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item London, United Kingdom
                li.desc-item Full-time
