extends layout.pug

mixin job(title, team, location, link)
  li.opening-job.job.column.wide-1of2.medium-1of2
    a.link--block.details(href=link)
      h3.details-title.job-title.link--block-target= title
      ul.details-desc.desc-items.list--dotted
        li.desc-item= team
        li.desc-item= location

block head
  - var title = 'Buildit - Careers'
  - var currentPage = 'Careers'

block content
  .ui.vertical.people.stripe.segment
    .ui.top.aligned.stackable.grid.container
      .sixteen.wide.column
        h1 &hellip;still interested?
      .eight.wide.column
        ul.opening-jobs.grid--gutter.padding--none.js-openings-load(data-page='1', data-more='/more/WiproDigital/buildit.digital')
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/112649907-delivery-lead?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Delivery Lead
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Delivery
                li.desc-item Bengaluru, India
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/112637326-mobile-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Mobile Engineer
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Mobile Engineering
                  li.desc-item Bengaluru, India
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/112040707-delivery-lead?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Delivery Lead
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Delivery
                  li.desc-item New York, NY
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/111840366-front-end-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Front End Engineer
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Front End Engineering
                  li.desc-item Bengaluru, India
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/111840144-creative-technologist?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Creative Technologist
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Creative Technology
                  li.desc-item Bengaluru, India
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/111840133-platform-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Platform Engineer
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Platform Engineering
                  li.desc-item Bengaluru, India
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/111673814-mobile-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Mobile Engineer
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Mobile Engineering
                  li.desc-item Dublin, Ireland
            li.opening-job.job.column.wide-1of2.medium-1of2
              a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/111546410-delivery-lead?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
                h3.details-title.job-title.link--block-target Delivery Lead
                ul.details-desc.desc-items.list--dotted
                  li.desc-item Buildit Delivery
                  li.desc-item Denver, CO
      .eight.wide.column
        ul.opening-jobs.grid--gutter.padding--none.js-openings-load(data-page='1', data-more='/more/WiproDigital/buildit.digital')
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110696227-platform-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Platform Engineering
                li.desc-item Dublin, Ireland
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110695432-delivery-lead?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Delivery Lead
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Delivery
                li.desc-item New York, NY
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110661495-front-end-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Front End Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Front End Engineering
                li.desc-item Edinburgh, United Kingdom
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110661311-platform-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Platform Engineering
                li.desc-item Edinburgh, United Kingdom
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/110183663-devops-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target DevOps Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Platform Engineering
                li.desc-item London, United Kingdom
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/109983134-front-end-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Front End Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Front End Engineering
                li.desc-item London, United Kingdom
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/109982171-platform-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Platform Engineering
                li.desc-item London, United Kingdom
          li.opening-job.job.column.wide-1of2.medium-1of2
            a.link--block.details(href='https://jobs.smartrecruiters.com//WiproDigital/109364878-platform-engineer?trid=4f98c6a8-b7c4-4ffc-b4b4-58dbdc5ad942')
              h3.details-title.job-title.link--block-target Platform Engineer
              ul.details-desc.desc-items.list--dotted
                li.desc-item Buildit Platform Engineering
                li.desc-item Dublin, Ireland
