doctype html
html(lang='en')
  block head
  include includes/head.pug

  body
    include includes/menu.pug
    .pusher
      //- .ui.container
      //-   .ui.large.secondary.inverted.pointing.menu.nav-container
      //-     span.nav-container__logo BuildIt
      //-     a.toc.item.right
      //-       i.sidebar.icon
      //-     |  
      //-     a.active.item Approach
      //-     |  
      //-     a.item Careers
      //-     |  
      //-     a.item Find Us
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.pointing.inverted.menu.nav-container
            span.nav-container__logo BuildIt
            a.toc.item.right
              i.sidebar.icon
            |  
            a.active.item Approach
            |  
            a.item Careers
            |  
            a.item Find Us
            
      block content
      include includes/footer.pug

  include includes/scripts.pug