extends layout.pug

block head
  - var title = 'Buildit - Our Values'

block content
  .ui.vertical.stripe
    .ui.top.aligned.stackable.grid.container
      .row
        .eight.wide.column
          h3.ui.header Our values
        .eight.wide.column
  .ui.vertical.stripe
    .ui.top.aligned.stackable.grid.container
      .row
        .eight.wide.column
          h3
            a#Self_Managed Self Managed
          p We don't discuss unimportant things at length
          p We avoid bureaucracy wherever possible
          p We take pride in eliminating things that aren't valuable and automate things that are
          p If it's a simple problem, we just fix it
          p We work on what's important, not just interesting or easy
          p We don't build a full product if all we need is an MVP; we launch early and iterate
          p We get many views when the problem is complex
          h3
            a#Encourage_growth Encourage growth
          p We actively seek feedback
          p We strive for keen awareness of our own limitations
          p We hold and express opinions, and modify them when faced with contrary evidence
          h3
            a#Trust Trust
          p When things don't work out, we have honest post-mortems
          p We believe in our teammates' abilities
          h3
            a#Driven Driven
          p We do what it takes to achieve a successful outcome
          p We never stop learning
          p We try out new things
          p We expose ourselves to things outside our comfort zone
          p We ask &lsquo;why'
          p We take ownership of our own growth
          h3
            a#Effective Effective
          p We are fiercely pragmatic
          p We find ways to make complicated tasks easy, not easy things complicated.
          h3
            a#Supportive Supportive
          p We lead from the front, know when to step back
          p We make time to help when asked
          p We share what we know
          p We exert influence through what we know and do, not titles or hierarchy
        .eight.wide.column
          h3
            a#Reliable_Dependable Reliable, Dependable
          p Wherever possible, we let the facts and metrics do the talking
          p Mastery of what we do comes, first and foremost, from real-world practice
          p We weigh up cost and benefit of improvements
          p We monitor and make visible the effect of our changes
          p We don't commit to something we know we don't have the resources to do
          p We dare to fail fast; we know when to cut our losses
          h3
            a#Genuinely_curious Genuinely curious
          p We actively seek to understand other functions and their value
          p We are open-minded: when people disagree, we listen and digest
          h3
            a#Proactive Proactive
          p We are doers
          p We pull our own weight
          p We bring up problems as soon as we notice them
          p We take ownership; we don't wait to be told what to do
          p Before asking for permission, we ask ourselves whether we need permission (or just seek forgiveness)
          p We take responsibility for carving out our own contribution to the overall proposition
          h3
            a#Humility Humility
          p We bring an ego-less mindset to the group
          p We never look up, never look down
          h3
            a#Expertise Expertise
          p Whatever we are doing, we can describe why
          p We make our work visible
          p We explain the rationale behind decisions
          h3
            a#Integrity Integrity
          p We take responsibility for our decisions
          p We are honest and open about issues, delays, or problems
          p When we don't know, or can't, we say so
