<div>
  <svg role="img" class="grav-c-logo" aria-labelledby="buildit-logotype__title" width="300" height="33">
    <use xlink:href="#buildit-logotype"></use>
  </svg>

  <div class="grav-c-page-footer__lists" typeof="schema:SiteNavigationElement">
    <ul>
      {% for navItem in colMainNav %}
        <li>
          <a rel="schema:url" href="/{{ navItem.path }}" property="schema:name">{{ navItem.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a rel="schema:url"  href="/locations/" property="schema:name">Locations</a>
      </li>
    </ul>

    <ul>
      <li><a rel="schema:url" href="#" property="schema:name">Terms</a></li>
      <li><a rel="schema:url" href="#" property="schema:name">Accessibility</a></li>
      <li>
        <a rel="schema:url" href="https://wiprodigital.com/privacy-policy" property="schema:name">
          Privacy &amp; Cookie Policy
        </a>
      </li>
    </ul>
  </div>

  <p>
    © 2019 <strong>Buildit</strong>. All rights reserved.
  </p>
</div>
