
  {# <svg role="img" class="grav-c-logotype" aria-labelledby="logo-buildit-logotype__title" width="299" height="34">
    <use xlink:href="#logo-buildit-logotype"></use>
  </svg>

  <div class="grav-c-page-footer__lists" typeof="schema:SiteNavigationElement">
    <ul>
      {% for navItem in colMainNav %}
        <li>
          <a rel="schema:url" href="/{{ navItem.path }}" property="schema:name">{{ navItem.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a rel="schema:url"  href="/locations/" property="schema:name">Locations</a>
      </li>
      <li>
      </li>
    </ul>
  </div> #}
<span>
  © <strong>Wipro Digital</strong> 2020. 
  All rights reserved. 
  <a rel="schema:url" href="https://wiprodigital.com/privacy-policy" property="schema:name">Privacy &amp; Cookie Policy</a>
</span>