<div class="grav-o-container">
  <svg role="img" class="grav-c-logo" aria-labelledby="buildit-logotype__title" width="300" height="33">
    <use xlink:href="#buildit-logotype"></use>
  </svg>

  <div class="grav-c-page-footer__lists">
    <ul>
      {% for navItem in colMainNav %}
        <li>
          <a
            {% if navItem.schema %}typeof="schema:{{ navItem.schema }}"{% endif %}
            href="/{{ navItem.path }}"
          >
            {{ navItem.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Accessibility</a></li>
      <li><a href="https://wiprodigital.com/privacy-policy">Privacy &amp; Cookie Policy</a></li>
    </ul>
  </div>

  <p>
    © 2019 <strong>Buildit</strong>. All rights reserved.
  </p>
</div>
