<div
  resource="https://buildit.wiprodigital.com/thing/buildit-org"
  {% if not path %}property="schema:mainEntity"{% endif %}
  typeof="schema:Organization"
>
  <div class="grav-c-page-header__logo">
    {% if path %}
      <meta property="schema:url" content="/">
      <a href="/" property="schema:logo" typeof="schema:ImageObject">
    {% else %}
      <h1 property="schema:logo" typeof="schema:ImageObject">
    {% endif %}
        <meta property="schema:url" content="/images/buildit-at-wipro-digital.png">
        <svg role="img" class="grav-c-logo" aria-label="Buildit @ Wipro Digital" width="300" height="33">
          <title>Buildit @ Wipro Digital</title>
          <use xlink:href="#buildit-logotype"></use>
        </svg>
    {% if path %}
      </a>
    {% else %}
      </h1>
    {% endif %}
  </div>
  <meta property="schema:name" content="Buildit @ Wipro Digital">
  <button type="button" class="grav-c-toggle-menu" aria-pressed="false" aria-label="Do something">
    <span class="grav-c-toggle-menu__icon"></span>
  </button>
  <nav class="grav-c-nav-menu" typeof="schema:SiteNavigationElement">
    <ul>
      {% for navItem in colMainNav %}
      <li>
        <a class="grav-c-nav-link" href="/{{ navItem.path }}">{{ navItem.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
