---
layout: basic-page.njk
ogTitle: Buildit Jobs
title: Jobs
schema: CollectionPage
collection: colMainNav
nav-index: 2
---
<div class="grav-c-page-intro">
  <h1>Jobs</h1>
  <p>If you have any questions please reach out to us at: <a href="mailto:talent-buildit@wipro.com">talent-buildit@wipro.com</a></p>
</div>
{% for jobLocation in jobLocations %}
<section>
  <header typeof="schema:Place" resource="https://buildit.wiprodigital.com/thing/job-location/{{jobLocation.location.countryCode}}/{{jobLocation.location.citySlug}}">
    <h2 property="schema:address" typeof="schema:PostalAddress">
    <span property="schema:name">
      <span property="schema:addressLocality">{{jobLocation.location.city}}</span>,
      {{jobLocation.location.country}}
    </span>
      <meta property="schema:addressCountry" content="{{jobLocation.location.countryCode}}">
    </h2>
  </header>
  <ul class="grav-o-two-column grav-o-column-list">
    {% for job in jobLocation.jobs %}
    <li typeof="schema:JobPosting">
      <a rel="schema:url" property="schema:title" href="{{job.url}}">{{job.title}}</a>
      <meta property="schema:datePosted" content="{{job.datePosted}}">
      <meta property="schema:employmentType" content="{{job.typeOfEmployment}}">
      <meta property="schema:industry" content="{{job.industry}}">
      <meta property="schema:description" content="For the full job description please visit: {{job.url}}">
      <link property="schema:hiringOrganization" href="https://buildit.wiprodigital.com/thing/buildit-org">
      <link property="schema:jobLocation" href="https://buildit.wiprodigital.com/thing/job-location/{{jobLocation.location.countryCode}}/{{jobLocation.location.citySlug}}">
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
